<% content_for :headcon do %>
    <%= stylesheet_link_tag    "devise/newuser", :media => "all" %>
<% end %>
<% content_for :botcon do %>
    <%= javascript_include_tag "editinfo/newuser" %>
	<%= javascript_include_tag "binders/pretags" %>
<% end %>


<div class="container">
	<div class="formbox">
	<h2>Join the exclusive beta.</h2>

	<div style="color:#999;margin-bottom:15px;line-height:15px">
		Congrats - you've been selected to be a part of our beta!<br />You're just a few seconds away from collaborating with the world's greatest educators.
	</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

<div class="errornote">
	<%= devise_error_messages! %>
</div>


	<%= f.hidden_field :code %>

	<table border="0">
		<tr>
			<td class="labeler">Username</td>
			<td class="firstfocus"><%= f.text_field :username %></td>
		</tr>
		<tr>
			<td class="labeler">Password</td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td class="labeler">Email</td>
			<td><%= f.email_field :email %></td>
		</tr>
		<tr>
			<td class="labeler">Name</td>
			<td>
				<div class="controls controls-row">
	  				<%= f.select(:title, options_for_select( [["",""],["Mr.","Mr."],["Mrs.","Mrs."],["Ms.","Ms."],["Dr.","Dr."]] ), {}, {:style => "width:auto"}) %>
	  				<%= f.text_field :fname, {:class => "span1o5"} %>
	  				<%= f.text_field :lname, {:class => "span1o5"} %>
				</div>
			</td>
		</tr>
		<tr>
				<td class="labeler"><span class="label">Optional</span></td>
				<td><hr></td>
		</tr>
		<%= fields_for :info do |g| %>
			<tr>
				<td class="labeler">Grades</td>
				<td><%= g.text_field :grades %></td>
			</tr>
			<tr>
				<td class="labeler">Subjects</td>
				<td><%= g.text_field :subjects %></td>
			</tr>
		<% end %>
	</table>

	<div style="color:#666;font-size:11px;margin-left:145px">You agree to our <a href="/legal/tos" target="_blank">terms of service</a> and <a href="/legal/privacy" target="_blank">privacy policy</a>.</div>

	<button type="submit" class="btn btn-primary btn-large" style="font-weight:bolder; margin-top:10px; margin-left:117px; width:220px">
		Sign up!
	</button>

<% end %>


	</div>
</div>