<h3><%= "#{params[:controller]}##{params[:action]}" %></h3>
<p>app/views/<%= params[:controller] %>/<%= params[:action] %>.html.erb</p>

<%= form_for @conversation, :url => add_message_path(@conversation) do |f| %>

	<%= fields_for Message.new do |g| %>

		<div><%= g.label "Body" %><br />
		<%= g.text_area :body %></div>

	<% end %>

  	<div><%= f.submit "Reply" %></div>

<% end %>