<h2>app/views/<%= params[:controller] %>/<%= params[:action] %></h2>
<h2><%= params[:controller] %>#<%= params[:action] %></h2>
<script type="text/javascript">
	function search() {
		window.location.href = '/admin/apps?adminq=' + document.getElementById('appsearch').value
	}
	function reset() {
		window.location.href = '/admin/apps'
	}
</script>
<input type="text" id="appsearch" />
<button onclick="search()">Search</button>
<button onclick="reset()">Reset</button>
<table>
<tr>
<td>First Name</td>
<td>Last Name</td>
<td>Email</td>
<td>Application</td>
<td>Timestamp</td>
<td>Status</td>
</tr>
<% @apps.each do |app| %>
<tr>
<td><%= app.fname %></td>
<td><%= app.lname %></td>
<td><%= app.email %></td>
<td><%= app.body %></td>
<td><%= time_ago_in_words(Time.at(app.timestamp).to_datetime) %> ago</td>
<td><% if app.status == 0 %>
		<%= link_to("Approve", approve_path(app)) %> |
		<%= link_to("Deny", deny_path(app)) %>
	<% else %>
		<%= app.status == 1 ? "Approved" : "Denied" %>
	<% end %></td>
</tr>
<% end %>
</table>
<% begin %>
	<%= paginate(@apps) %>
	<%= page_entries_info(@apps).html_safe %>
<% rescue %>
<% end %>