<h2>app/views/<%= params[:controller] %>/<%= params[:action] %></h2>
<h2><%= params[:controller] %>#<%= params[:action] %></h2>

<table>
<tr>
<td>#</td>
<td>First Name</td>
<td>Last Name</td>
<td>Email</td>
<td>Application</td>
<td>Timestamp</td>
<td>Status</td>
</tr>
<% 
i=1
@apps.each do |app| %>
<tr>
<td><b><%= i.to_s %></b></td><% i += 1 %>
<td><%= app.fname %></td>
<td><%= app.lname %></td>
<td><%= app.email %></td>
<td><%= app.body %></td>
<td><%= time_ago_in_words(Time.at(app.timestamp).to_datetime) %> ago</td>
<td><% if app.status == 0 %>
		<%= link_to("Approve", approve_path(app)) %> |
		<%= link_to("Deny", deny_path(app)) %>
	<% else %>
		<%= app.status == 1 ? "Approved" : "Denied" %>
	<% end %></td>
</tr>
<% end %>
</table>