<h2>app/views/<%= params[:controller] %>/<%= params[:action] %></h2>
<h2><%= params[:controller] %>#<%= params[:action] %></h2>
<table>
<tr>
<td>Sent By</td>
<td>To</td>
<td>Status</td>
<td>Submitted</td>
<td>Email sent</td>
<td>Details</td>
</tr>
<% @invites.each do |invitation| %>
<tr>
<td><%= invitation.from == "0" ? "System" : invitation.from %></td>
<td><%= invitation.to %></td>
<td>
<% invitation.status.each do |x,y| %>
	<%= "#{x}: #{y}<br />".html_safe %>
<% end %>
</td>
<td><%= invitation.submitted %></td>
<td><%= invitation.sent_at %></td>
<td><%= link_to("Details", "/admin/invite/#{invitation.id.to_s}") %></td>
</tr>
<% end %>
</table>
<%= paginate(@invites) %>
<%= page_entries_info(@invites).html_safe %>