<h2>app/views/<%= params[:controller] %>/<%= params[:action] %></h2>
<h2><%= params[:controller] %>#<%= params[:action] %></h2>
<table>
<tr>
<td>Sent By</td>
<td>To</td>
<td>Status</td>
<td>Timestamp</td>
<td>Status</td>
</tr>
<% @invitations.each do |invitation| %>
<tr>
<td><%= invitation.from == "0" ? "System" : "" %></td>
<td><%= invitation.to %></td>
<td>
<% invitation.status.each do |x,y| %>

<% end %>
</td>
<td><%= invitation.timestamp %></td>
<td><%= invitation.status %></td>
</tr>
<% end %>
</table>