<h2>app/views/<%= params[:controller] %>/<%= params[:action] %></h2>
<h2><%= params[:controller] %>#<%= params[:action] %></h2>
<script type="text/javascript">
	function search() {
		window.location.href = '/admin/users?adminq=' + document.getElementById('usersearch').value
	}
	function reset() {
		window.location.href = '/admin/users'
	}
</script>
<input type="text" id="usersearch" />
<button onclick="search()">Search</button>
<button onclick="reset()">Reset</button>
<h2>User count: <%= @teachers.count %></h2>
<table>
<tr>
<td>Name</td>
<td>Username</td>
<td>Email</td>
<td>Beta Code</td>
<td>Registered At</td>
<td>Sign ins</td>
<td>Last Signin</td>
<td>Binder Count</td>
<td>Log in As</td>
</tr>
<% @teachers.each do |teacher| %>
<tr>
<td><%= teacher.full_name %></td>
<td><a href="/<%= teacher.username %>"><%= teacher.username %></a></td>
<td><%= teacher.email %></td>
<td><%= teacher.code %></td>
<td><%= teacher.registered_at %></td>
<td><%= teacher.sign_in_count %></td>
<td><%= teacher.current_sign_in_at %></td>
<td><%= teacher.binders.where(:"parent.id".ne => "-1").count %></td>
<td><%= link_to("Ghost", ghost_path(teacher.id.to_s)) %></td>
</tr>
<% end %>
</table>
<% begin %>
	<%= paginate(@teachers) %>
	<%= page_entries_info(@teachers).html_safe %>
<% rescue %>
<% end %>