<h2>app/views/applicants/<%= params[:action] %></h2>
<h2><%= params[:controller] %>#<%= params[:action] %></h2>

<table>
<tr>
<td>#</td>
<td>First Name</td>
<td>Last Name</td>
<td>Email</td>
<td>Application</td>
<td>Timestamp</td>
<td>Status</td>
</tr>
<% 
i=1
@apps.each do |app| %>
<tr>
<td><b><%= i.to_s %></b></td><% i += 1 %>
<td><%= app.fname %></td>
<td><%= app.lname %></td>
<td><%= app.email %></td>
<td><%= app.body %></td>
<td><%= app.timestamp %></td>
<td><%= app.status %></td>
</tr>
<% end %>
</table>