<% content_for :headcon do %>
    <%= stylesheet_link_tag    "devise/apply", :media => "all" %>
    <%= javascript_include_tag "editinfo/apply" %>
<% end %>



<div class="splashback">
	<div class="container">

		<div class="tagline">
			Calling the world's greatest educators:<br />
			It's time to unite.
		</div>

	</div>
</div>



<div class="container">
<div class="formbox">





	<h2>Be a part of the Claco exclusive beta</h2>

	<div style="color:#777;font-size:14px;margin-bottom:15px;line-height:16px">
		While we're in beta, we're looking for the most passionate and driven teachers in the world to collaborate on Claco. After requesting an invite, we should be in touch within a week or two. If you want to an invite more quickly, have a friend on Claco send you an invite!
	</div>


<div class="errornote">
	<% if !@app.errors.empty? %>
		<ul>
		<% @app.errors.each do |err, msg| %>
			<li><%= "#{msg}" %></li>
		<% end %>
		</ul>
	<% end %>
</div>


<div class="formster">
		<%= form_for @app do |f| %>
		<table border="0">
		<tr>
			<td class="labeler">Email</td>
			<td class="firstfocus"><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td class="labeler">Title</td>
			<td><%= f.select(:title, options_for_select( [["",""],["Mr.","Mr."],["Mrs.","Mrs."],["Ms.","Ms."],["Dr.","Dr."]] )) %></td>
		</tr>
		<tr>
			<td class="labeler">First Name</td>
			<td><%= f.text_field :fname %></td>
		</tr>
		<tr>
			<td class="labeler">Last Name</td>
			<td><%= f.text_field :lname %></td>
		</tr>
		<tr>
			<td class="labeler">About You</td>
			<td><%= f.text_area :body, :style => "height:100px", :placeholder => "Your website / blog, links to example resources, how many years you have taught, etc. Knock our socks off!" %></td>
		</tr>
	</table>


	<button type="submit" class="btn btn-primary btn-large" style="font-weight:bolder; padding: 15px;margin-top:10px; margin-left:135px; width:320px">
		Request an invite
	</button>

	<% end %>
</div>





</div>
</div>