<% content_for :headcon do %>
    <%= stylesheet_link_tag    "devise/newuser", :media => "all" %>
    <%= javascript_include_tag "editinfo/apply" %>
<% end %>

<div class="container">
<div class="formbox">





	<h2>It's time to unite.</h2>

	<div style="color:#999;margin-bottom:15px;line-height:15px">
		The best educators are scattered around the world with no<br />way to find and collaborate with each other. <strong>Until now.</strong>
	</div>


<div class="errornote">
	<% if !@app.errors.empty? %>
		<ul>
		<% @app.errors.each do |err, msg| %>
			<li><%= "#{msg}" %></li>
		<% end %>
		</ul>
	<% end %>
</div>



		<%= form_for @app do |f| %>
		<table border="0">
		<tr>
			<td class="labeler">Email</td>
			<td class="firstfocus"><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td class="labeler">Title</td>
			<td><%= f.select(:title, options_for_select( [["",""],["Mr.","Mr."],["Mrs.","Mrs."],["Ms.","Ms."],["Dr.","Dr."]] )) %></td>
		</tr>
		<tr>
			<td class="labeler">First Name</td>
			<td><%= f.text_field :fname %></td>
		</tr>
		<tr>
			<td class="labeler">Last Name</td>
			<td><%= f.text_field :lname %></td>
		</tr>
		<tr>
			<td class="labeler">About You</td>
			<td><%= f.text_area :body, :style => "height:100px", :placeholder => "How many years you have taught, your website / blog, links to example resources, etc" %></td>
		</tr>
	</table>


	<button type="submit" class="btn btn-primary btn-large" style="font-weight:bolder; margin-top:10px; margin-left:117px; width:220px">
		Request an invite
	</button>

	<% end %>






</div>
</div>