<div class="thetitle">
	<a href="<%= @wholink %>"><%= "#{@who.fname} #{@who.lname}" %></a> added <%= @howmany %> link<%= @mult ? 's' : ''%><% if !@where.nil? %> to <a href="<%= named_binder_route(@where) %>"><%= @where.title %><% end %></a> [[[TIMESTAMP]]] ago.
</div>
