<div class="thetitle">
	<a href="<%= @wholink %>"><%= "#{@who.fname} #{@who.lname}" %></a> added <%= @howmany %> file<%= @mult ? 's' : ''%> to <a href="<%= @wherelink %>"><%= @where.title %></a> <%= @when %> ago.
</div>
