<div class="thetitle">
	<% if @howmany==1 %>
		<a href="<%= @wholink %>"><%= "#{@who.fname} #{@who.lname}" %></a> updated <a href="<%= @whatlink %>"><%= @what.title %></a> <%= @when %> ago.
	<% elsif @howmany==2 %>
		<a href="<%= @wholink %>"><%= "#{@who.fname} #{@who.lname}" %></a> updated <a href="<%= @whatlink %>"><%= @what.title %></a> and <a href="<%= @whatlink2 %>"><%= @what2.title %></a> <%= @when %> ago.
	<% elsif @howmany==3 %>
		<a href="<%= @wholink %>"><%= "#{@who.fname} #{@who.lname}" %></a> updated <a href="<%= @whatlink %>"><%= @what.title %></a>, <a href="<%= @whatlink2 %>"><%= @what2.title %></a>, and <a href="<%= @whatlink3 %>"><%= @what3.title %></a> <%= @when %> ago.
	<% else %>
		<a href="<%= @wholink %>"><%= "#{@who.fname} #{@who.lname}" %></a> updated <a href="<%= @whatlink %>"><%= @what.title %></a>, <a href="<%= @whatlink2 %>"><%= @what2.title %></a>, <a href="@whatlink3 %>"><%= @what3.title %></a>, and <%= @howmany-3 %> more <%= @when %> ago.
	<% end %>
</div>
