<h3>Binders#<%= params[:action] %></h3>
<p>app/views/binders/<%= params[:action] %>.html.erb</p>
<p>Currently In: <%= link_to "Home", binders_path(@owner.username || @owner.id) %> </p>

<%= render 'layouts/show' %>

<%= link_to "Create new binder", new_binder_path %><br /><br />
<%= link_to "Trash", trash_path(params[:username]) %>