<h3>Binders#index</h3>
<p>app/views/binders/index.html.erb</p>
<p>Currently In: <%= link_to "Home", binders_path %> </p>

<div>Contents:
	<br />
	<% @binders.each do |binder| %>
	<%= link_to binder.title, binder %>
  	(<%= link_to "Move", move_binder_path(binder) %>)
  	<%= !binder.body.blank? ? ("(#{binder.body[0..20]}" + (binder.body.length > 20 ? "...)" : ")")) : "" %>
  	<br />
	<% end %>
</div>
<br />
<%= link_to "Create new binder", new_binder_path %>