<h3>Binders#<%= params[:action] %></h3>
<p>app/views/binders/<%= params[:action] %>.html.erb</p>

<%= form_for @binder, :url => named_binder_route(@binder, "move") do |f| %>

  <div><%= f.label :parent,
    "Move #{@binder.title} From #{@binder.parent["id"] == "0" ? "Home" : @binder.parent["title"]} to:" %>
    <br />
  
  <% if @binder.parent["id"] != "0" && @binder.type == 1 %>
    <%= f.select(:parent,
      options_for_select([["Home", 0]]) + options_from_collection_for_select(@binders, :id, :title)) %></div>
  <% else %>
    <%= f.select(:parent, options_from_collection_for_select(@binders, :id, :title)) %></div>
  <% end %>

  <div><%= f.submit "Move Binder" %></div>

<% end %>
