<h3>Binders#new</h3>
<p>app/views/binders/new.html.erb</p>

<% 	# NOTE!  This form is inserting unused fields into the database.  
	# grade_levels, subjects, standards, other, are all being created and filled with empty string arrays
	# this should be fixed when this temporary form is replaced
%>

<%= form_for @new_binder, :url => binders_path do |f| %>

	<div><%= f.label :title, "Title" %><br />
	<%= f.text_field :title %></div>

	<div><%= f.label :parent, "Parent (to be replaced with directory browser):" %><br />
	<%= f.select(:parent,
	options_for_select([["Home", 0]]) + options_from_collection_for_select(@binders, :id, :title)) %></div>

  <div><%= f.label :body, "Body" %><br />
  <%= f.text_area  :body %></div>
<br />
<div>Permissions for this item:<br /><br />

  <%= label_tag :type, "Type:" %><br />
  <%= select_tag :type, options_for_select([1, 3], 3) %><br />
  <br />
  <%= label_tag :shared_id, "Share with: (only used if Type = 1)" %><br />
  <%= select_tag :shared_id, options_from_collection_for_select(@colleagues, :id, :full_name)  %><br />
  <br />
  <%= label_tag :auth_level, "Authorization Level (1 = R/W, 2 = RO)" %><br />
  <%= select_tag :auth_level, options_for_select([1, 2], 2) %>
  <br />
  <br />
  <%= check_box_tag :accept %>
  <%= label_tag :accept, "Apply these Permissions?" %>
  <br />
  <br />

</div>

	<div><%= f.label :body, "Body" %><br />
	<%= f.text_area  :body %></div>

	<%= f.fields_for :tag do |builder| %>

		<table>
			<tr>
				<td valign="top">
					<% (0..19).each do |grade_level| %>
					<%= check_box( "tag", "grade_levels", { :id => "binder_tag_grade_levels",	#"binder[tag]",
										:name => "binder[tag][grade_levels][]" },
										grade_level_string_by_index(grade_level)  ) %>
					<%= builder.label :grade_levels[grade_level], grade_level_title_by_index(grade_level) %><br />
					<% end %>
				</td>
				<td valign="top">
					<% (0..11).each do |subject| %>
					<%= check_box( "tag", "subjects", { 	:id => "binder_tag_subjects",	# "binder[tag]",
										:name => "binder[tag][subjects][]" },
										subject_string_by_index(subject) ) %>
					<%= builder.label :subjects[subject], subject_title_by_index(subject) %><br />
					<% end %>
				</td>
			</tr>
		</table>

		<br />

		<div><%= builder.label :standards, "Standard Tags" %><br />
		<%= builder.text_field :standards, :value => "", :id => "binder_tag_standards", :name => "binder[tag][standards]" %></div>

		<div><%= builder.label :other, "Other Tags" %><br />
		<%= builder.text_field :other, :value => "", :id => "binder_tag_other", :name => "binder[tag][other]" %></div>

	<% end %>

	<div><%= f.submit "Create Binder" %></div>

<% end %>
