<h3>Binders#newcontent</h3>
<p>app/views/binders/newcontent.html.erb</p>

<%= form_for Binder.new, :url => new_binder_content_path do |f| %>

  <div><%= f.label :title, "Title" %><br />
  <%= f.text_field :title %></div>

  <div><%= f.label :parent, "Parent (to be replaced with a directory browser):" %><br />
  <%= f.select(:parent, options_from_collection_for_select(@binders, :id, :title)) %></div>
  <% #Do not allow content in Home directory %>

  <%= f.fields_for :components do |g| %>

  	<div><%= g.label :data, "URL:" %><br />
  	<%= g.text_field :data %></div>
  
  <% end %>


  <div><%= f.label :body, "Body" %><br />
  <%= f.text_area  :body %></div>

<%= f.fields_for Tag.new do |builder| %>

    <table>
      <tr>
        <td valign="top">
          <% (0..19).each do |grade_level| %>
          <%= check_box( "tag", "grade_levels", { :id => "binder_tag_grade_levels", #"binder[tag]",
                    :name => "binder[tag][grade_levels][]" },
                    grade_level_string_by_index(grade_level)  ) %>
          <%= builder.label :grade_levels[grade_level], grade_level_title_by_index(grade_level) %><br />
          <% end %>
        </td>
        <td valign="top">
          <% (0..11).each do |subject| %>
          <%= check_box( "tag", "subjects", {   :id => "binder_tag_subjects", # "binder[tag]",
                    :name => "binder[tag][subjects][]" },
                    subject_string_by_index(subject) ) %>
          <%= builder.label :subjects[subject], subject_title_by_index(subject) %><br />
          <% end %>
        </td>
      </tr>
    </table>

    <br />

    <div><%= builder.label :standards, "Standard Tags" %><br />
    <%= builder.text_field :standards, :value => "", :id => "binder_tag_standards", :name => "binder[tag][standards]" %></div>

    <div><%= builder.label :other, "Other Tags" %><br />
    <%= builder.text_field :other, :value => "", :id => "binder_tag_other", :name => "binder[tag][other]" %></div>

  <% end %>

  <div><%= f.submit "Create Binder" %></div>

<% end %>