<h3>Binders#<%= params[:action] %></h3>
<p>app/views/binders/<%= params[:action] %>.html.erb</p>

<%= form_for @binder, :url => named_binder_route(@binder, "update") do |f| %>

  	<%= f.fields_for :components do |g| %>

  	<% if @binder.format == 1 %>
  		<div><%= g.label :file, "New Version of File:" %><br />
  		<%= g.file_field :file %></div>
  	<% end %>


	<% if @binder.format == 2 %>
  		<div><%= g.label :data, "URL:" %><br />
  		<%= g.text_field :data %></div>
	<% end %>


  <% end %>

  <div><%= f.submit "Add new version" %></div>

<% end %>