<h3>Binders#<%= params[:action] %></h3>
<p>app/views/binders/<%= params[:action] %>.html.erb</p>


<div>Inherited Permissions:<br />
  <% if @binder.parent_permissions.blank? %>
  None
  <% else %>
    <% @binder.parent_permissions.each do |pp| %>
      Type: <%= pp["type"] %><br />
      Shared with: <%= pp["shared_id"] %><br />
      Authorization Level: <%= pp["auth_level"] %><br />
      Inherited From: <%= pp["folder_id"] %><br /><br />
    <% end %>
  <% end %>
  <br /><br />

  Explicit Permissions:<br />
  <% if @binder.permissions.blank? %>
    None
  <% else %>
    <% @binder.permissions.each do |p| %>
      Type: <%= p["type"] %><br />
      Shared with: <%= p["shared_id"] %><br />
      Authorization Level: <%= p["auth_level"] %><br />
      <%= link_to "Delete this permission", named_binder_route(@binder, "permissions/#{@binder.permissions.index(p)}"), :method => :delete %><br /><br />
    <% end %>
  <% end %>
  <br /><br />
</div>

<div>Add New Permission:<br /><br />
<%= form_for @binder, :url => named_binder_route(@binder, "permissions") do |f| %>

  <p><%= "#{named_binder_route(@binder, "permissions")}" %></p> 

  <%= label_tag :type, "Type:" %><br />
  <%= select_tag :type, options_for_select([1, 3])  %><br />
  <br />
  <%= label_tag :shared_id, "Share with: (only used if Type = 1)" %><br />
  <%= select_tag :shared_id, options_from_collection_for_select(@colleagues, :id, :full_name)  %><br />
  <br />
  <%= label_tag :auth_level, "Authorization Level (1 = R/W, 2 = RO)" %><br />
  <%= select_tag :auth_level, options_for_select([1, 2])  %>
  <br />
  <br />
  <%= f.submit "Add Permission" %>
  <%= link_to "Back", @binder.parent["id"] == "0" ? binders_path : named_binder_route(@binder.parent["id"]) %>
<% end %>
</div>