<%= render 'layouts/breadcrumbs' %>

<div><% if !@binder.body.blank? %>
	Body: <%= @binder.body %>
<br /><br />
<% end %></div>

<div>Versions:
	<br />
	<% if @binder.format == 1 %>
		<% @binder.components.each do |component| %>
			<%= "(#{component.timestamp})" %>
	  		<%= link_to File.basename(component.file.url), component.file.url %>
	  		<%= "(#{component.size}b) (#{component.id})" %>
			<br />
		<% end %>
	<% elsif @binder.format == 2 %>
		<% @binder.components.each do |component| %>	
			<%= "(#{component.timestamp})" %>
			<%= link_to component.data, component.data %>
	  		<%= "(#{component.id})" %>
	  		<% if component == @binder.current_component %>
				<br />
	  			(Current Component)
	  		<% else %>
		  		<%= form_for component, :url => named_binder_route(@binder, "swap") do |f|%>
		  			<%= f.hidden_field :id %>
		  			<%= f.submit "Use this version" %>
		  		<% end %>
	  		<% end %>
			<hr />
			<br />
		<% end %>
	<% end %>
	<%= link_to "Add new version", named_binder_route(@binder, "update") %>
</div>