<h3>Binders#versions</h3>
<p>app/views/binders/versions.html.erb</p>

<p>Currently In:<% @binder.parents.each do |parent| %>
	<% if parent["id"] == "0" %>
		<%= link_to "Home", binders_path %> /
	<% else %>
		<%= link_to parent["title"], binder_path(parent["id"]) %> /
	<% end %>
<% end %><%= link_to @binder.title, binder_path(@binder) %></p>

<div><% if !@binder.body.blank? %>
	Body: <%= @binder.body %>
<br /><br />
<% end %></div>

<div>Versions:
	<br />
	<% if @binder.format == 1 %>
		<% @binder.versions.each do |version| %>
			<%= "(#{version.timestamp})" %>
	  		<%= link_to File.basename(version.file.url), version.file.url %>
	  		<%= "(#{version.size}b) (#{version.id})" %>
			<br />
		<% end %>
	<% elsif @binder.format == 2 %>
		<% @binder.versions.each do |version| %>	
			<%= "(#{version.timestamp})" %>
			<%= link_to version.data, version.data %>
	  		<%= "(#{version.id})" %>
	  		<% if version == @binder.current_version %>
				<br />
	  			(Current Version)
	  		<% else %>
		  		<%= form_for version, :url => swap_binder_path(@binder) do |f|%>
		  			<%= f.hidden_field :id %>
		  			<%= f.submit "Use this version" %>
		  		<% end %>
	  		<% end %>
			<hr />
			<br />
		<% end %>
	<% end %>
	<%= link_to "Add new version", new_binder_version_path(@binder) %>
</div>