<!DOCTYPE html>
<html>
	<head>
		<%= javascript_include_tag "video" %>
		<%= stylesheet_link_tag "video-js", :media => "all" %>
		<%= javascript_tag "_V_.options.flash.swf = '#{asset_path "video-js.swf"}'" %>
	</head>
	<body>
		<div id="vid">
			<video id="<%= @binder.id.to_s %>" class="video-js vjs-default-skin" controls preload="auto" poster="<%= @binder.current_version.video.posterurl.html_safe %>" data-setup="{}" width="700" height="390">
				<source src="<%= @binder.current_version.video.url.html_safe %>" type='video/mp4'>
			</video>
		</div>
	</body>
	<script type="text/javascript">
$(document).ready(function() {

$("#<%= @binder.id.to_s %>").attr('width', $(document).width());
$("#<%= @binder.id.to_s %>").attr('height', $(document).height());
$("#<%= @binder.id.to_s %>").width($(document).width());
$("#<%= @binder.id.to_s %>").height($(document).height());


});
</script>
</html>