<% content_for :headcon do %>
  <%= stylesheet_link_tag "devise/newuser", :media => "all" %>
<% end %>

<div class="container">
<div class="formbox">

<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => teacher_password_path, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <label style="margin-top:5px">Enter your email address or username:</label>

  <%= f.text_field :login, :id => "forgot_user", :class => "login-info", :value => params[:user] %>

  <div><%= f.submit "Reset my password", :class => "btn btn-primary login-btn" %></div>
<% end %>

</div>
</div>