<% content_for :headcon do %>
	<%= javascript_include_tag "home/main" %>
	<%= stylesheet_link_tag    "home/main", :media => "all" %>
	<%= javascript_include_tag "binders/icheck" %>
    <%= stylesheet_link_tag    "widgets/icheck", :media => "all" %>
<% end %>

<%= javascript_tag "username = \"#{current_teacher.username}\"" %>

<% if signed_in? && current_teacher.getting_started %>
	<div class="starting-section">
		<div class="container">

			<div class="headtitle">
				Welcome home! Here are a few things to get started with:
			</div>

			<div class="listbox">


				<div class="listitem">
					<div class="numbul">1</div> 
					<div class="linker">
						<a id="task4" onclick="wizardFocus(4)">Subscribe to your favorite colleagues, educators and organizations</a>
					</div>
				</div>

				<div class="listitem">
					<div class="numbul">2</div>
					<div class="linker">
						<a id="task2" onclick="wizardFocus(2)">Create a binder</a>
					</div>
				</div>

				<div class="listitem">
					<div class="numbul">3</div>
					<div class="linker">
						<a id="task3" onclick="wizardFocus(3)">Snap another teacher's lesson into your binder</a>
					</div>
				</div>

				<div class="listitem">
					<div class="numbul">4</div> 
					<div class="linker">
						<a id="task1" onclick="wizardFocus(1)">Edit your profile information</a>
					</div>
				</div>


			</div>



			<button class="btn btn-large finishbtn">✓ I'm finished getting started</button>
		</div>
	</div>
<% end %>


<div class="container">

	<div id="paneleft">
		<div class="announcer">Your Binders</div>

		<div class="whitebox">
			<% Binder.where(:owner => current_teacher.id, "parent.id" => "0").each do |binder| %>
			<a href="<%= named_binder_route(binder) %>">
				<div class="bindir">
					<div class="binder_attr">></div>
					<div class="binder_name"><%= binder.title %></div>
				</div>
			</a>
			<% end %>

		</div>

<div style="height:70px;margin-left:25px">
		<button id="newbinder">
			Create a new binder
		</button>
</div>


<% if false %>
<div class="announcer invitebox"><%= @invcount %>/5 Invites Used <a href="#" style="float:right" onclick="jQuery.facebox({ ajax: '/invite' });return false">Send invites</a></div>
<% end %>



<% if false %>
		<div style="margin-top:30px;font-size:13px; font-weight:bolder">
			<a href="#">
			<%= image_tag('binders/fav.png', :style => "float:left; margin-right:5px;width:22px;height:22px;margin-top:-2px") %>
			Your Favorites (<%= Binder.where(:owner => current_teacher.id.to_s).favorites.count %>)
			</a>
		</div>
<% end %>
	</div>

	<div id="paneright">
		<div class="announcer">
			<%= image_tag('common/plane.png', :style => "margin: -2px 3px 0 0") %>
			What's happening now
		</div>

			<%= render 'layouts/feed' %>

	</div>

</div>


<div id="addbinder-form" style="display:none">
    <div class="headtitle">
      Create new binder
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">
        <input name="foldertitle" maxlength="50" class="firstfocus" style="width:300px" type="text" placeholder="Title of the new binder" />

        <a href="#" style="font-size:11px; margin-left:5px" onClick="$(this).parent().find('.webdesc').show().focus();$(this).hide();return false">Add a description</a>
        <textarea name="body" class="input-xlarge webdesc" rows="3" style="width:300px;display:none" placeholder="Description of the binder"></textarea>


        <div style="margin-top:8px;margin-bottom:8px">
        	<input type="checkbox" name="public" class="pub_on" checked="checked" />
    	</div>

      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Create binder!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>