<% content_for :headcon do %>
	<%= stylesheet_link_tag    "home/main", :media => "all" %>
    <%= stylesheet_link_tag    "widgets/icheck", :media => "all" %>
<% end %>
<% content_for :botcon do %>
	<%= javascript_include_tag "home/main" %>
	<%= javascript_include_tag "binders/icheck" %>
<% end %>

<%= javascript_tag "username = \"#{current_teacher.username}\"" %>

<% if signed_in? && current_teacher.getting_started %>
	<div class="starting-section">
		<div class="container">

			<div class="headtitle">
				Welcome home! Here are a few things to get started with:
			</div>

			<div class="listbox">


				<div class="listitem">
					<div class="numbul">1</div> 
					<div class="linker">
						<a id="task4" onclick="wizardFocus(4)">Subscribe to your favorite colleagues, educators and organizations</a>
					</div>
				</div>

				<div class="listitem">
					<div class="numbul">2</div>
					<div class="linker">
						<a id="task2" onclick="wizardFocus(2)">Create a binder</a>
					</div>
				</div>

				<div class="listitem">
					<div class="numbul">3</div>
					<div class="linker">
						<a id="task3" onclick="wizardFocus(3)">Snap another teacher's lesson into your binder</a>
					</div>
				</div>

				<div class="listitem">
					<div class="numbul">4</div> 
					<div class="linker">
						<a id="task1" onclick="wizardFocus(1)">Edit your profile information</a>
					</div>
				</div>


			</div>



			<button class="btn btn-large finishbtn">✓ I'm finished getting started</button>
		</div>
	</div>
<% end %>


<div class="container">

	<div id="paneleft">
		<div class="announcer">Your Binders</div>

		<div class="whitebox">
			<% Binder.where(:owner => current_teacher.id, "parent.id" => "0").each do |binder| %>
			<a href="<%= named_binder_route(binder) %>">
				<div class="bindir">
					<div class="binder_attr">></div>
					<div class="binder_name"><%= binder.title %></div>
				</div>
			</a>
			<% end %>

		</div>

<div style="height:70px;margin-left:25px">
		<button id="newbinder">
			Create a new binder
		</button>
</div>



<div class="announcer invitebox">
	<div class="progress <%= "progress-danger" if @size_percent_used > 60 %>"><div class="bar" style="width:<%= @size_percent_used %>%;"></div>
	</div>
	<span class="inlay"><small><%= @size_percent_used.to_i %>% of <%= number_to_human_size(current_teacher.size_cap) %> used.</small></span>
	<hr />
	<p>Looking for Free Storage?</p>
<!-- 	<%= @invcount %> Invites Used --><!-- 
	<a href="#" style="float:right" onclick="jQuery.facebox({ ajax: '/invite' });return false">Invite Colleagues</a> -->
	<div class="invite-btn">
		<ul class="pager">
			<li class="next">
				<a href="#" onclick="jQuery.facebox($('#inviteForm'));$('#inviteForm').show();return false">Invite Colleagues&rarr;</a>
			</li>
		</ul>
	</div>
</div>




<% if false %>
		<div style="margin-top:30px;font-size:13px; font-weight:bolder">
			<a href="#">
			<%= image_tag('binders/fav.png', :style => "float:left; margin-right:5px;width:22px;height:22px;margin-top:-2px") %>
			Your Favorites (<%= Binder.where(:owner => current_teacher.id.to_s).favorites.count %>)
			</a>
		</div>
<% end %>
	</div>

	<div id="paneright">
		<div class="announcer">
			<%= image_tag('common/plane.png', :style => "margin: -2px 3px 0 0") %>
			What's happening now
		</div>

			<%= render 'layouts/feed' %>

	</div>

</div>


<div id="addbinder-form" style="display:none">
    <div class="headtitle">
      Create new binder
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">
        <input name="foldertitle" maxlength="50" class="firstfocus" style="width:300px" type="text" placeholder="Title of the new binder" />

        <a href="#" style="font-size:11px; margin-left:5px" onClick="$(this).parent().find('.webdesc').show().focus();$(this).hide();return false">Add a description</a>
        <textarea name="body" class="input-xlarge webdesc" rows="3" style="width:300px;display:none" placeholder="Description of the binder"></textarea>


        <div style="margin-top:8px;margin-bottom:8px">
        	<input type="checkbox" name="public" class="pub_on" checked="checked" />
    	</div>

      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Create binder!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>

  <div id="inviteForm" style="display: none;">
  <div class="headtitle">
    Invite colleagues
    <a href="#" onClick="closefBox()" class="btn btn-mini pull-right">X</a>
  </div>

  <div class="errorBox"></div>
  <div class="conitem">
    <%= image_tag("invite.png", {:style => "margin:auto;display:block"}) %>
    <div style="overflow: hidden;">
      <blockquote>
        <p>Invite people, get free storage.</p>
        <small>You both get 300MB extra storage for free.</small>
      </blockquote>
    </div>
    <div id="url-inviter">
      <div class="input-prepend url-container" style="">
        <span class="add-on" style="margin-right:-14px">
          <%= image_tag "binders/link.png", :style => "height:14px; margin-top:-4px" %>
        </span>

        <input type="text" onclick="$(this).select();" style="" value="http://www.claco.com/join?ref=<%= current_teacher.id.to_s %>" readonly="readonly">
      </div>
      <div class="invite-btn-grp">
        <a class="zocial twitter" href="https://twitter.com/intent/tweet?text=Connect+with+me+on+Claco%3A&url=<%=u "http://www.claco.com/join?ref=#{current_teacher.id.to_s}" %>&via=TeamClaco" onclick="if( !navigator.userAgent.toLowerCase().match( /(iphone|ipad|ipod|android|mini|mobi)/i ) ){window.open('https://twitter.com/intent/tweet?text=Connect+with+me+on+Claco%3A&url=<%=u "http://www.claco.com/join?ref=#{current_teacher.id.to_s}" %>&via=TeamClaco','','scrollbars=yes,width=660,height=328');return false;}" title="Twitter" target="_blank">Tweet</a>
        <a class="zocial facebook" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p%5Btitle%5D=Connect+with+me+on+Claco%3A&amp;p%5Burl%5D=<%=u "http://www.claco.com/join?ref=#{current_teacher.id.to_s}" %>&amp;p%5Bsummary%5D=Collaborate+with+the+world's+greatest+educators." onclick="if( !navigator.userAgent.toLowerCase().match( /(iphone|ipad|ipod|android|mini|mobi)/i ) ){window.open('http://www.facebook.com/sharer/sharer.php?s=100&amp;p%5Btitle%5D=Connect+with+me+on+Claco%3A&amp;p%5Burl%5D=<%=u "http://www.claco.com/join?ref=#{current_teacher.id.to_s}" %>&amp;p%5Bsummary%5D=Collaborate+with+the+world\'s+greatest+educators.','','scrollbars=yes,width=660,height=328');return false;}" title="Share on Facebook" target="_blank">Share</a>
        <a class="zocial email" href="#" onclick="$('#url-inviter').hide();$('#bodcon').show();return false;">Email</a>
      </div>
    </div>
    <form action="/invite" accept-charset="UTF-8" method="post" class="bodcon" id="bodcon">
        <input id="invite_" name="invite[]" placeholder="Enter email address" type="email" value="">
        <input id="invite_" name="invite[]" placeholder="Enter email address" type="email" value="">
        <div class="buttonbar">
           <button class="btn btn-primary btn-small" type="submit">Send invites!</button>
           <button class="btn btn-small" onclick="$('#bodcon').hide();$('#url-inviter').show();return false;">Cancel</button>
        </div>

    </form>
  </div>
</div>