<div class="splashback">
	<div class="container">

		<div class="sectleft">
			<div class="tagline">
				Collaborate with the world's greatest educators.
			</div>

			<h2 id='tagline2'>
				Find, build and share resources with teachers across the hall or across the world — aligned with Common Core
				<a href="/about" id="learn-more">Learn more &rarr;</a>
			</h2>


			<div class="addtl">
				<!-- Find, build and share resources with teachers across the hall or across the world — aligned with <%= render 'layouts/commoncorelogo' %> -->
				<a href="/apply" id="apply-btn" class="btn">Sign up for our Beta!</a>
				<span class='separator'>&nbsp;</span>		
				<div class="action-items">
					<p>Know a great educator?</p>
					<!-- <a href="/about" style="padding:15px 15px 15px 30px;text-decoration:underline">Learn more</a> -->
					<a class="btn nominate-btn">Send them an invite</a>
				</div>
			</div>
		</div>

		<div class="sectright">
			<div class="spotlight_feed">
				<div class="announcer">
					<%= image_tag('common/plane.png', :style => "margin: -2px 3px 0 0") %>
					What's happening now
				</div>

				<div class="feedster">
					<% (Setting.f("fpfeatured").v.nil? ? [] : [Binder.find(Setting.f("fpfeatured").v.last["top"]), Binder.find(Setting.f("fpfeatured").v.last["bot"])]).each do |binder| %>
						<div class="itemwrap">
							<div class="imgarea">
								<a href="/<%= binder.find_owner.username %>">
									<img src="<%= teacher_thumb_md(binder.find_owner) %>" />
								</a>
							</div>

							<div class="namester">
								<a href="/<%= binder.find_owner.username %>"><%= binder.find_owner.full_name %></a> posted to <%= link_to(truncate(binder.root, :length => 30 - binder.find_owner.full_name.size, :omission => "..."), named_binder_route(binder.parent["id"])) %>
							</div>

							<div class="contentitem">
								<div class="preview">
									<%= link_to(image_tag(explore_binder_thumb_lg(binder)), named_binder_route(binder)) %>
								</div>

								<div class="contitle">
									<%= link_to(binder.title, named_binder_route(binder)) %>
								</div>

								<div style="clear:both"></div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="seenon">
	<div class="container">
		<div style="margin-left:150px;font-weight:bolder;font-size:14px;margin-top:-5px;margin-bottom:5px">
			As seen on...
		</div>
		<center>
		<%= render 'layouts/pressimgs' %>
		</center>
	</div>
</div>




<div class="container pubfoot">
	<div class="tribox">
		<a href="/pioneers">
			<div class="pioneertitle">
				Meet the pioneers on Claco
			</div>

			<div class="conr">
				<center>
					<img class="pcht" src="<%= get_binder_image(Binder.find(Setting.f("pioneer").v).children.sort_by(&:order_index).last) %>" />
					<div class="tname"></div>
				</center>
			</div>
		</a>
	</div>

	<div class="tribox">
		<a href="http://blog.claco.com/" target="_blank">
			<div class="pioneertitle">
				Latest from our blog
			</div>

			<div class="conr">
				<div class="blogt"></div>
				<div class="blogtext">
					Loading...
				</div>
			</div>
		</a>
	</div>

	<div class="tribox" style="border-right:none">
		<div style="font-size:30px; font-weight:bolder; color:#555; line-height:38px; margin-left:10px">
			We <span style="font-size:40px; color:#F70808">♥</span> educators!
		</div>

		<div class="pioneertitle" style="margin:15px 5px 0 10px">
			Spread the love :)
		</div>

		<div class="conr" style="margin-left:10px">
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.claco.com&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90&amp;appId=213954741999891" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:70px; margin-right:10px" allowTransparency="true"></iframe>

			<iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/tweet_button.html?count=vertical&text=I'm a pioneer! %23UnitedWeTeach&url=http://www.claco.com" style="margin-right:15px;width:55px; height:70px;"></iframe>

			<div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="70"></div>
		</div>
	</div>
	
	<div style="clear:both"></div>
</div>


<div id="nominate-popup" class="hidden">
  <div class="headtitle">
		Share the love! 
  </div>

  <div class="errorBox"></div>

	<p class="alert alert-success hidden"></p>

	<p class="alert alert-error hidden"></p>

  <form action="/nominate" class="bodcon" id="nominate-form">
    <h3 style="font-size:11px;"> Leave your name so (s)he can thank you:</h3>

    <input maxlength="50" name="inviter" class="firstfocus invite-email" type="text" placeholder="Your full name" required/>

		<h3 style="font-size:11px;"> Invite Teachers to our exclusive beta!</h3> 
    <input maxlength="50" name="emails[]" class="invite-email" type="email" placeholder="Enter an awesome teacher's email!" value="" required/>
    <input maxlength="50" name="emails[]" class="invite-email" type="email" placeholder="Enter an awesome teacher's email!" value=""/>

    <div class="buttonbar">
       <button class="btn btn-primary showloader" type="submit">Send Nomination!</button>
       <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
    </div>

  </form>
</div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
