<% content_for :headcon do %>
    <%= stylesheet_link_tag    "home/pub/about", :media => "all" %>
<% end %>

<div class="splashback">
	<div class="container">

		<div class="tagline">
			Find & build great resources. Save time. Increase impact.<br /><br />
			Meet your new learning network.
		</div>


		<div class="sectr">

			<div class="imgbox" style="float:left;margin-right:30px">
				<%= image_tag('public/product/prof1.png', :style => "") %>
			</div>

			<div class="text" style="margin-top:60px">
				<div class="headtext">
					Collaborate with educators across the hall or across the globe.
				</div>

				Find Common Core lessons from awesome educators just like you and contribute your own. You can even work on lessons with other teachers in real time - let the collaboration begin!

			</div>


			<div style="clear:both"></div>

		</div>



		<div class="sectr">

			<div class="imgbox" style="float:right;margin-left:30px">
				<%= image_tag('public/product/binder.png', :style => "") %>
			</div>

			<div class="text" style="margin-top:70px;padding-left:10px">
				<div class="headtext">
					One place to store all of your resources.
				</div>

				Bookmarking, file sharing, and various other sites are a hassle to store class materials in. Claco allows you to store, and easily access, all of your websites, videos, files & more all in one place. You can even align resources with the <%= image_tag('public/core.png', :style => "margin: -2px 3px 0 0;width:130px") %>.
			</div>


			<div style="clear:both"></div>

		</div>



		<div class="sectr">

			<div class="imgbox" style="float:left;margin-right:30px">
				<%= image_tag('public/product/share2.png', :style => "") %>
			</div>

			<div class="text" style="margin-top:50px">
				<div class="headtext">
					One click to share with students, parents, and colleagues.
				</div>

				Sending large email attachments or uploading to a site every time you want to share cool resources with someone is a pain. With your materials already in one place, sharing with anyone and everyone takes no more than the click of a button!
			</div>


			<div style="clear:both"></div>

		</div>







		<div class="buttoners">
			<div class="hearter">We <span style="font-size:50px; color:#F70808">♥</span> educators!</div>
			<a href="/unitedweteach" class="btn">Learn about the movement</a>
			<a href="/about/team" class="btn">Our team</a>
			<a href="/apply" class="btn btn-success" style="margin-right:0px">Request a beta invite</a>
		</div>





	</div>
</div>