<% content_for :headcon do %>
	<% javascript_include_tag "wy/advanced" %>
	<%= stylesheet_link_tag    "home/main", :media => "all" %>
<% end %>

<div class="container">

	<div id="paneleft">
		<%= link_to "Portfolio", binders_path(current_teacher.username || current_teacher.id) %><br />
		<%= link_to teachers_path, teachers_path %><br />
	</div>



	<div id="paneright">
		<div class="announcer">Your Binders</div>

		<div class="whitebox linker">
			<div class="binder_attr">></div>
			<div class="binder_name"><a href="#">Algebra 101</a></div>
		</div>

		<div class="whitebox linker">
			<div class="binder_name"><a href="#">English 401</a></div>
		</div>

	</div>


</div>

























<!--

<h3>Home</h3>
<p>app/views/home/index.html.erb</p>
<% if signed_in? %>
	<%= link_to teachers_path, teachers_path %><br />
	<%= link_to "Portfolio", binders_path(current_teacher.username || current_teacher.id) %><br />
	<%= link_to tags_path, tags_path %><br />
	<%= link_to "Conversations", conversations_path %>
<% end %>

<br />
<br />
<br />
<%= @testvar.to_s %>
<br />
<br />
<br />
<% @feed.each do |f| %>
	<%= f.title.to_s %><br />
<% end %>
<br />
<br />
<br />

<% if teacher_signed_in? %>
	Not logged in!
<% else %>
	Logged in!
<% end %>

<div style="border:2px solid black;width:300px;" >
	SHIT
</div>
<div style="border:2px solid black;width:300px;" >
	SHIT
</div>
<div style="border:2px solid black;width:300px;" >
	SHIT
</div>
<div style="border:2px solid black;width:300px;" >
	SHIT
</div>

-->
