<h3><%= "#{params[:controller]}##{params[:action]}" %></h3>
<p>app/views/<%= "#{params[:controller]}/#{params[:action]}" %>.html.erb</p>

<% @conversations.each do |conversation| %>

	<%= conversation.last_message.sender == current_teacher.id.to_s ? ">" : "<" %>
	<%= link_to conversation.subject, show_conversation_path(conversation) %>
	<%= conversation.unread[current_teacher.id.to_s] == 0 ? "Read" : "Unread" %>

<% end %>
<br /><br />
<%= link_to "New conversation", new_conversation_path %>