<% content_for :headcon do %>
    <%= stylesheet_link_tag    "messages/main", :media => "all" %>
<% end %>

<div class="container">

	<div class="leftbox">
		Hello
	</div>

	<div class="mainbox">

		<div class="announce"><%= image_tag('messages/message.png', :class => "micon") %>
			Messages</div>


		<ul class="messagers">

			<li class="messelect">
				<a href="#">

					<img src="http://img.cla.co/a70efeab8e4fc5ab8120dcad81fee9f2/thumb_md.png" class="profpic" />

					<div class="mescon">
						<div class="personname">
							Jordan Hamel
						</div>
						<div class="messagetxt">
							hey just checking in, is everything okay with your lesson plans?
						</div>
					</div>

					<div class="stampy">

						<div class="tstamp">
							33 minutes ago
						</div>

					</div>

				</a>


				
			</li>



			<li>
				<a href="#">

					<img src="http://img.cla.co/a70efeab8e4fc5ab8120dcad81fee9f2/thumb_md.png" class="profpic" />

					<div class="mescon">
						<div class="personname">
							Jordan Hamel
						</div>
						<div class="messagetxt">
							hey just checking in, is everything okay with your lesson plans?
						</div>
					</div>

					<div class="stampy">

						<div class="tstamp">
							33 minutes ago
						</div>

					</div>

				</a>
			</li>



		</ul>
<!--
		<% @conversations.each do |conversation| %>

			<%= conversation.last_message.sender == current_teacher.id.to_s ? ">" : "<" %>
			<%= link_to conversation.subject, show_conversation_path(conversation) %>
			<%= conversation.unread[current_teacher.id.to_s] == 0 ? "Read" : "Unread" %>

		<% end %>
		<br /><br />
		<%= link_to "New conversation", new_conversation_path %>

-->


	</div>


</div>