<% content_for :headcon do %>
	<%= javascript_include_tag "editinfo/main" %>
	<%= stylesheet_link_tag    "editinfo", :media => "all" %>
	<%= javascript_tag 'function popupCenter(url, width, height, name) {
							var left = (screen.width/2)-(width/2);
							var top = (screen.height/2)-(height/2);
							return window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);
						}

						$("a.popup").click(function(e) {
							popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "authPopup");
							e.stopPropagation(); return false;
						});' %>
<% end %>


<div class="container">

	<div class="mainbox">

		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#personal">Personal Info</a></li>
		  <li><a href="#password">Change Password</a></li>
		</ul>
		 
		<div class="tab-content">
		  <div class="tab-pane active" id="personal">

		  	<div class="errornote">
				<% if !current_teacher.errors.empty? || !current_teacher.info.errors.empty? %>
					<ul>
					<% current_teacher.errors.each do |err, msg| %>
						<li><%= "#{msg}" %></li>
					<% end %>
					<% current_teacher.info.errors.each do |err, msg| %>
						<li><%= "#{msg}" %></li>
					<% end %>
					</ul>
				<% end %>
			</div>

		  	<%= form_for current_teacher, :url => updateinfo_path, :html => {:method => :POST, :multipart => true} do |f| %>

			<div class="secter" style="margin-top:0px">
				Profile Picture
			</div>

			<div class="imgbox">
				<img src="<%= current_teacher.info.avatar.thumb_lg.url %>" class="imger" />
			</div>


		  	<div style="margin-top:30px;color:#444;font-style:italic">Update your profile picture<br />
		  	<%= fields_for current_teacher.info do |i| %>
		  	<%= i.file_field :avatar %></div>

		  	<div style="clear:both"></div>





		  	<div class="secter">
				Name
			</div>

			<div>
				<%= f.select(:title, options_for_select([["",""],["Mr.","Mr."],["Mrs.","Mrs."],["Ms.","Ms."],["Dr.","Dr."]], :selected => current_teacher.title), {}, :style => 'width: 60px') %>
				<%= f.text_field :fname, :placeholder => "First name", :class => "nametext" %>
				<%= f.text_field :lname, :placeholder => "Last name", :class => "nametext" %>
			</div>





			<div class="secter">
				Location
			</div>

			<div>
		

			<input type="text" id="city" placeholder="Enter your city name" <%= 'style=display:none' if !(current_teacher.info.city.empty? || current_teacher.info.country.empty? || current_teacher.info.state.empty?) %> />

			<div class="fulldiv" <%= 'style=display:none' if (current_teacher.info.city.empty? || current_teacher.info.country.empty? || current_teacher.info.state.empty?) %>>
				<a href="#" onclick="$(this).parent().hide(); $('#city').val('').show().focus(); return false" class="fullnameswap">Change location</a><br />

				<%= i.text_field "fulllocation", :id => "fulllocation", :value => current_teacher.info.fulllocation, :readonly => true %>

			</div>


				<input type="hidden" id="lat" name="lat" />
				<input type="hidden" id="lng" name="lng" />



			</div>




		  	<div class="secter">
				Personal Bio
			</div>

			<div>
				<%= i.text_area :bio, :class => "biotext", :placeholder => "Why you teach, how long you've been teaching, etc", :value => current_teacher.info.bio %>
				<p class="remain" style="color:#777;margin-top:-5px"></p>
			</div>




			<div class="secter">
				Website / Social Networks
			</div>

			<div>
				<%= image_tag('settings/website.png', :style => "float:left; margin-top:7px;margin-right:5px") %>
				<%= i.text_field :website, :placeholder => "Personal website (or blog)" %>
				<% end %>
				<p><%= link_to "Link your Twitter Account", teacher_omniauth_authorize_path(:twitter), :class => "zocial twitter", :target => "_blank" %></p>
				<p><%= link_to "Link your Facebook Account", teacher_omniauth_authorize_path(:facebook), :class => "popup zocial facebook", :"data-width" => 600, :"data-height" => 400, :display => "popup" %></p>
			</div>






			<div style="margin-top:20px">
				<button type="submit" class="btn btn-large btn-primary" style="font-weight:bolder">Update Personal Info</button>
			</div>

			<% end %>

		  </div>











		  <div class="tab-pane" id="password">

		  	<div class="secter">
				Choose a new password for your account
			</div>

			<%= form_for current_teacher, :url => editinfo_path, :method => :put do |f| %>

			<div>
				<%= f.password_field :password, :placeholder => "New password", :autocomplete => "off"%>
			</div>

			<div>
				<%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
			</div>


			<div style="margin-top:20px">
				<button type="submit" class="btn btn-large btn-primary" style="font-weight:bolder">Change your password</button>
			</div>

			<% end %>


		  </div>





		</div>


	</div>
</div>













<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
