<% content_for :headcon do %>
	<%= stylesheet_link_tag    "editinfo", :media => "all" %>
<% end %>
<% content_for :botcon do %>
	<%= javascript_include_tag "editinfo/main" %>
	<%= javascript_include_tag "binders/pretags" %>
	<%= javascript_tag "
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})" %>
<% end %>


<div class="container">

	<div class="mainbox">

		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#personal">Personal Info</a></li>
		  <li><a href="#notis">Notifications</a></li>
		  <li><a href="#password">Change Password</a></li>
		</ul>
		 
		<div class="tab-content">
		  <div class="tab-pane active" id="personal">

		  	<div class="errornote">
				<% if !current_teacher.errors.empty? || !current_teacher.info.errors.empty? %>
					<ul>
					<% current_teacher.errors.each do |err, msg| %>
						<li><%= "#{msg}" %></li>
					<% end %>
					<% current_teacher.info.errors.each do |err, msg| %>
						<li><%= "#{msg}" %></li>
					<% end %>
					</ul>
				<% end %>
			</div>

		  	<%= form_for current_teacher, :url => updateinfo_path, :html => {:method => :POST, :multipart => true} do |f| %>

			<div class="secter" style="margin-top:0px">
				Profile Picture
			</div>

			<div class="imgbox">
				<img src="<%= current_teacher.info.avatar.thumb_lg.url %>" class="imger" />
			</div>


		  	<div style="margin-top:30px;color:#444;font-style:italic">Update your profile picture<br />
		  	<%= fields_for current_teacher.info do |i| %>
		  	<%= i.file_field :avatar %></div>

		  	<div style="clear:both"></div>





		  	<div class="secter">
				Name
			</div>

			<div>
				<%= f.select(:title, options_for_select([["",""],["Mr.","Mr."],["Mrs.","Mrs."],["Ms.","Ms."],["Dr.","Dr."]], :selected => current_teacher.title), {}, :style => 'width: 60px') %>
				<%= f.text_field :fname, :placeholder => "First name", :class => "nametext" %>
				<%= f.text_field :lname, :placeholder => "Last name", :class => "nametext" %>
			</div>






			<div class="secter">
				Website / Social Networks
			</div>

			<div>

				<%= image_tag('settings/website.png', :style => "float:left; margin-top:7px;margin-right:5px") %>
				<%= i.text_field :website, :placeholder => "Personal website (or blog)" %><br />

				<% if !current_teacher.omnihash["twitter"].nil? %>
					<%= image_tag('settings/twitter.png', :style => "float:left; margin-top:7px;margin-right:5px") %>
					<%= text_field_tag("", current_teacher.omnihash["twitter"]["username"], :disabled => true)%><br />
				<% end %>

				<% if !current_teacher.omnihash["facebook"].nil? %>
					<%= image_tag('settings/facebook.png', :style => "float:left; margin-top:7px;margin-right:5px") %>
					<%= text_field_tag("", current_teacher.omnihash["facebook"]["username"], :disabled => true)%><br />
				<% end %>

				<% if current_teacher.omnihash["facebook"].nil? || current_teacher.omnihash["twitter"].nil? %>
					<div class="sociallink">
						<% if current_teacher.omnihash["twitter"].nil? %>
							<button class="zocial twitter" name="buttonredirect" value="twitter" style="font-size:11px">Link your Twitter</button>
						<% end %>
						<% if current_teacher.omnihash["facebook"].nil? %>
							<button class="zocial facebook" name="buttonredirect" value="facebook" style="font-size:11px">Link your Facebook</button>
						<% end %>
						<div class="desctext">
							Add your social networks to your profile! We'll also subscribe you to your friends that are already on Claco.
						</div>

					</div>
				<% end %>

			</div>






			<div class="secter">
				Grades & Subjects
			</div>


			<div>
				<input type="text" name="grades" id="grades" placeholder="Enter the grade(s) you teach" value="<%= current_teacher.info.grades.join(', ') %>" /><br />
				<input type="text" name="subjects" id="subjects" placeholder="Enter the subject(s) you teach" value="<%= current_teacher.info.subjects.join(', ') %>" />
			</div>









			<div class="secter">
				Location
			</div>

			<div>
		

			<input type="text" id="city" placeholder="Enter your city name" <%= 'style=display:none' if !(current_teacher.info.city.empty? || current_teacher.info.country.empty? || current_teacher.info.state.empty?) %> />

			<div class="fulldiv" <%= 'style=display:none' if (current_teacher.info.city.empty? || current_teacher.info.country.empty? || current_teacher.info.state.empty?) %>>
				<a href="#" onclick="$(this).parent().hide(); $('#city').val('').show().focus(); return false" class="fullnameswap">Change location</a><br />

				<%= i.text_field "fulllocation", :id => "fulllocation", :value => current_teacher.info.fulllocation, :readonly => true %>

			</div>


				<input type="hidden" id="lat" name="lat" value="<%= current_teacher.info.location[1] if !current_teacher.info.location.nil? %>" />
				<input type="hidden" id="lng" name="lng" value="<%= current_teacher.info.location[0] if !current_teacher.info.location.nil? %>" />



			</div>




		  	<div class="secter">
				Personal Bio
			</div>

			<div>
				<%= i.text_area :bio, :class => "biotext", :placeholder => "Why you teach, how long you've been teaching, etc", :value => current_teacher.info.bio %>
				<p class="remain" style="color:#777;margin-top:-5px"></p>
			</div>






			<% end %>

			<div style="margin-top:20px">
				<button type="submit" class="btn btn-large btn-primary" style="font-weight:bolder">Update Personal Info</button>
			</div>

			<% end %>

		  </div>









		  <div class="tab-pane" id="notis">

		  	<div class="secter" style="margin-top:0px">
				Choose when you would like to receive email notifications
			</div>

			<%= form_for current_teacher, :url => updateprefs_path, :method => :post do |f| %>

			<div>
				<%= check_box_tag "sub", 1, current_teacher.emailconfig["sub"].nil? ? true : current_teacher.emailconfig["sub"], :style => "margin:-3px 5px 0 0" %>
				When someone subscribes to you
			</div>
			<% if false %>
			<div>
				<%= check_box_tag "col", 1, current_teacher.emailconfig["col"].nil? ? true : current_teacher.emailconfig["col"], :style => "margin:-3px 5px 0 0" %>
				When someone has requested you as a colleague
			</div>
			<% end %>
			<div>
				<%= check_box_tag "msg", 1, current_teacher.emailconfig["msg"].nil? ? true : current_teacher.emailconfig["msg"], :style => "margin:-3px 5px 0 0" %>
				When you receive a message
			</div>




			<div style="margin-top:20px">
				<button type="submit" class="btn btn-large btn-primary" style="font-weight:bolder">Update Preferences</button>
			</div>

			<% end %>


		  </div>











		  <div class="tab-pane" id="password">

		  	<div class="secter" style="margin-top:0px">
				Choose a new password for your account
			</div>

			<%= form_for current_teacher, :url => editinfo_path, :method => :put do |f| %>

			<div>
				<%= f.password_field :password, :placeholder => "New password", :autocomplete => "off"%>
			</div>

			<div>
				<%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
			</div>


			<div style="margin-top:20px">
				<button type="submit" class="btn btn-large btn-primary" style="font-weight:bolder">Change your password</button>
			</div>

			<% end %>


		  </div>





		</div>


	</div>
</div>














