<!DOCTYPE html>
<html>
<head>
<title>Edit Avatar</title>
</head>
</body>
<%= direct_upload_form_for @uploader do |f| %>
<!-- 	<img src='<%= teacher_thumb_lg(current_teacher) %>' />
	<img src='<%= teacher_thumb_mg(current_teacher) %>' />
	<img src='<%= teacher_thumb_md(current_teacher) %>' />
	<img src='<%= teacher_thumb_sm(current_teacher) %>' />
	<br /> -->
	<%= image_tag(teacher_thumb_lg(current_teacher)) %>
	<%= f.file_field :file %>
	<!-- <br /> -->
	<div class="buttonbar">
		<button class="btn btn-primary" id="checkout" type="submit">Upload this file</button>
	</div>
	<!-- <br /> -->
<% end %>
</body>
</html>