<h1>Profile Page</h1>
<p>app/views/teachers/show.html.erb</p>

<p><%= "#{ @teacher.full_name }" %></p>

<p><%= "Bio: #{@teacher.info.bio}" if !@teacher.info.bio.empty? %></p>

<p><%= "Website: #{@teacher.info.website}" if !@teacher.info.website.empty? %></p>

<p><%= "Profile Picture: #{@teacher.info.profile_picture}" if !@teacher.info.profile_picture.empty? %></p>

<%= link_to "Edit Info", "/editinfo" if current_teacher.id == @teacher.id %>

<% if current_teacher.id != @teacher.id %>

	<%= form_for @relationship, :url => get_subscription_path do |f| %>

		<%= get_subscription_button(f) %>

	<% end %>

	<%= form_for @relationship, :url => get_colleague_path do |f| %>

		<%= get_colleague_button(f) %>

	<% end %>

<% end %>
