<h1>Profile Page</h1>
<p>app/views/teachers/show.html.erb</p>

<p><%= "#{ @teacher.full_name }" %></p>
<p><%=  #!@teacher.info.avatar.path.to_s.empty? ? image_tag(@teacher.info.avatar, :width => "200") : "<no profile picture>" 
%></p>
<p><%= get_teacher_avatar(@teacher,{:width => 200, :border => 1}) %></p>
<% if !@teacher.info.nil? %>
<p><%= "Bio: #{@teacher.info.bio}" if !@teacher.info.bio.empty? %></p>
<p><%= "Website: #{@teacher.info.website}" if !@teacher.info.website.empty? %></p>
<% end %>

<%= link_to "Edit Info", "/editinfo" if current_teacher.id == @teacher.id %>

<% if current_teacher.id != @teacher.id %>
	<%= form_for @relationship, :url => get_subscription_path() do |f| %>
		<%= get_subscription_button(f) %>
	<% end %>
	<%= form_for @relationship, :url => get_colleague_path() do |f| %>
		<%= get_colleague_button(f) %>
	<% end %>
<% else %>
	<% if @colleague_requests.any? %>
		<p>You have pending colleague requests!</p>
		<% @colleague_requests.each do |request| %>
			<%= form_for request, :url => confadd_path(request.user_id) do |f| %>
				<%= f.submit "Accept colleague request from #{Teacher.find(request.user_id).full_name}", :confirm => "Are you absofuckinlutely positve?" %>
			<% end %>
		<% end %>
	<% end %>
	<% if @colleagues.any? %>
		<hr />
		<p>You are colleagues with the following teachers:</p>
		<table>
			<tr>
				<td colspan = "2">
					<hr />
				</td>
			</tr>
			<% @colleagues.each do |colleague| %>
			<tr>
				<td>
					<%= get_teacher_avatar(colleague, {:height => 60, :border => 1}) %>
				</td>
				<td>
					<p>
						<%= "#{colleague.full_name} " %>
						<%= link_to colleague.email, colleague %>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan = "2">
					<hr />
				</td>
			</tr>
			<% end %>
			</tr>
		</table>
	<% end %>
	<br />
	<% if @subscriptions.any? %>
		<hr />
		<p>You are subscribed to the following teachers:</p>
		<table>
			<tr>
				<td colspan = "2">
					<hr />
				</td>
			</tr>
			<% @subscriptions.each do |subscription| %>
			<tr>
				<td>
					<%= get_teacher_avatar(subscription, {:height => 60, :border => 1}) %>
				</td>
				<td>
					<p>
						<%= "#{subscription.full_name}: " %>
						<%= link_to subscription.email, subscription %>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan = "2">
					<hr />
				</td>
			</tr>
			<% end %>
		</table>
	<% end %>
<% end %>
<% if @owned_root_binders.any? %>

<br />
<hr />
	<p><%= "#{ @teacher.full_name }'s binders:" %></p>
	<p>[Home]</p>
	<br />
	<% @owned_root_binders.each do |root_binder| %>
		&nbsp;&nbsp;&nbsp;[<%= link_to "#{root_binder.title}", "/teachers/#{params[:id]}/binder/#{root_binder.id}" %>]
		<br />
	<% end %>
<% end %>

<% if false %>
	<hr />
	<p>Feed:</p>
<% end %>


