<h3>Teachers#showbinder</h3>
<p>app/views/teachers/showbinder.html.erb</p>

<hr />
<% if current_teacher.id.to_s == params[:id].to_s %>
	<%= link_to "<< Back to my profile", teacher_path(params[:id]) %>
<% else %>
	<%= link_to "<< Back to #{@teacher.full_name}'s profile", teacher_path(params[:id]) %>
<% end %>
<br />
<br />
<% print_children(0) %>

<% @retarray.uniq.each do |treenode| %>
	<% treenode[2].times do %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<% end %>
	<% if treenode[3] == 1 %>
		<%= #link_to treenode[1], treenode[4].last.file.url 
		%>
		<%= link_to File.basename(treenode[4].last.file.url), treenode[4].last.file.url %>
	<% else %>
		[<%= link_to treenode[1], show_binder_path(params[:id],treenode[0]) %>]
	<% end %>
	<% if treenode[0] == @current_binder.id.to_s %>
		<b>&lt;&lt;&lt;</b><br />
		<% if @child_binders.empty? %>
			<% (treenode[2]+1).times do %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% end %>
			<i>Empty</i><br />
		<% else %>
			<% @child_binders.each do |c_binder| %>
				<% (treenode[2]+1).times do %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<% end %>
				<% if c_binder.format == 1 %>
					<%= link_to File.basename(c_binder.versions.last.file.url), c_binder.versions.last.file.url %><br />
				<% else %>
			  		[<%= link_to c_binder.title, show_binder_path(params[:id],c_binder.id) %>]<br />
			  	<% end %>
			<% end %>
		<% end %>
	<% else %>
		<br />
	<% end %>
<% end %>
