<% content_for :headcon do %>
  <%= javascript_include_tag "profile/main" %>
  <%= stylesheet_link_tag "teacher", :media => "all" %>
  <%= javascript_include_tag "home/main" %>
  <%= stylesheet_link_tag    "home/main", :media => "all" %>
<% end %>

<div class="container">
  <div class="profile-avatar-wrap">
    <img src="<%= @teacher.info.avatar.thumb_lg.url %>">
    <% #<span class="clips">
      #<strong>4,204</strong> snaps
    #</span>
    %>
  </div>
</div>

<div class="profile-header-bar clearfix">
  <div class="container clearfix">
    <div class="profile-header-bar-push">
      <h2 class="pull-left"><strong><%= @teacher.full_name %></strong> (<%= @teacher.username %>)</h2>
      <div class="pull-right">
        <% if !@is_self %>

        <% if !signed_in? || !current_teacher.subscribed_to?(@teacher.id) %>
        <a id="subbtn" class="btn btn-medium btn-primary actbtn">
          <%= image_tag("profile/whitescribe.png", :style => "float:left;height:12px;margin:3px 5px 0 0") %>
          <span class="upme">Subscribe</span>
        </a>
        <% else %>
        <a id="subbtn" class="btn btn-medium btn-danger actbtn">
          <%= image_tag("profile/whitescribe.png", :style => "float:left;height:12px;margin:3px 5px 0 0") %>
          <span class="upme">Unsubscribe</span>
        </a>
        <% end %>

        <% if false %>
        <% if current_teacher.colleague_status(@teacher.id) == 0 %>
        <a id="collbtn" class="btn btn-medium">
          <%= image_tag("profile/colleague.png", :style => "float:left;height:16px;margin:1px 5px 0 0") %>
          <span class="upme">Add Colleague</span>
        </a>
        <% else %>
        <a id="collbtn" class="btn btn-medium" disabled>
          <%= image_tag("profile/colleague.png", :style => "float:left;height:16px;margin:1px 5px 0 0") %>
          <span class="upme">Request Sent</span>
        </a>
        <% end %>
        <% end %>

        <!--
        <a id="messbtn" class="btn btn-medium">
          <%= image_tag("profile/message.png", :style => "float:left;height:14px;margin:2px 5px 0 0") %>
          Message
        </a>
        -->
      <% else %>

        <a href="/editinfo" class="btn btn-medium actbtn">
          <span class="upme">Edit Info</span>
        </a>

      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="profile-info-section">
  <div class="container">
    <div class="pull-left profile-left-push">
      <p>
        <%= @teacher.info.bio %>
      </p>
      <ul class="profile-info-items">
        <% if !@teacher.info.twitterhandle.empty? %>
        <li>
          <a href="http://www.twitter.com/<%= @teacher.info.twitterhandle %>" target="_blank">
            <span class="twitterIcon"><%= image_tag("settings/twitter.png", :style => "margin-top:-4px") %></span>
            @<%= @teacher.info.twitterhandle %>
          </a>
        </li>
        <% end %>
        <% if !@teacher.info.facebookurl.empty? %>
        <li>
          <a href="http://www.facebook.com/<%= @teacher.info.facebookurl %>" target="_blank">
            <span class="twitterIcon"><%= image_tag("settings/facebook.png", :style => "margin-top:-4px") %></span>
            <%= @teacher.info.facebookurl %>
          </a>
        </li>
        <% end %>
        <% if !@teacher.info.website.empty? %>
        <li>
          <a href="<%= @teacher.info.website %>" target="_blank">
            <span class="webIcon"><%= image_tag("settings/website.png", :style => "margin-top:-4px") %></span>
            <%= URI.parse(@teacher.info.website).host.sub(/www\./, "") %>
          </a>
        </li>
        <% end %>
        <% if @teacher.info.fulllocation != ", , " %>
        <li>
          <span class="locationIcon"><%= image_tag("profile/point.png", :style => "margin-top:-4px") %></span>
          Lives in <%= @teacher.info.fulllocation %>
          </span>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="pull-right profile-module">
      <h3>
        <strong><%= @subscriptions.count %></strong>
        Subscriptions 
      </h3>
      <ul class="profile-avatars">
        <% @subscriptions[0..5].each do |sub| %>
          <li>
            <a href="/<%= sub.username %>">
              <img src="<%= sub.info.avatar.thumb_md.url %>">
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="pull-right profile-module">
      <h3>
        <strong><%= @subscribers.count %></strong>
        Subscribers 
      </h3>
      <ul class="profile-avatars">
        <% @subscribers[0..5].each do |sub| %>
          <li>
            <a href="/<%= sub.username %>">
              <img src="<%= sub.info.avatar.thumb_md.url %>">
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav-tabs onProfile">
    <li class="active">
      <a href="#binders">
        Portfolio
      </a>
    </li>
    <li>
      <a href="#activity">
        Activity 
      </a>
    </li>
  </ul>
</div>

<div class="container profile-content">
  <!--Feed goes here, lulz-->
<% #if @binder_create.any? 
%>
	<% #@binder_create.each do |f| 
	%>
		<%= #f.inspect.to_s 
		%>

    <div id="binders" class="tabswap">
    <%= render 'layouts/binderlist' 
    %>
    <%= #render 'layouts/contentlist' 
    %>
    </div>

	<% #end 
	%>
<% #end 
%>
<div id="activity" class="tabswap feedwrap" style="display:none">

  <%= render 'layouts/feed' %>

</div>
</div>
