<p>app/views/teachers/tags.html.erb</p>
<h1><%= "#{@teacher.fname}'s Tags" %></h1>

<%= form_for @tag, :url => "/editinfo" do |f| %>
	
  <% (1..12).each do |g| %>

    <div><%= f.label :grade_levels[g], "#{g.ordinalize} grade" %>
    <%= check_box_tag :grade_levels[g] %> </div>

  <% end %>

  <br />

  <div><%= f.label :subjects, "Subject Tags" %><br />
  <%= f.text_field :subjects %></div>

  <div><%= f.label :standards, "Standard Tags" %> <br />
  <%= f.text_field :standards %></div>

  <div><%= f.label :other, "Other Tags" %> <br />
  <%= f.text_field :other %></div>

  <div><%= f.submit "Update" %></div>

<% end %>