<p>app/views/teachers/tags.html.erb</p>
<h1><%= "#{current_teacher.full_name}'s Tags" %></h1>

<%= form_for current_teacher.tag, :url => updatetags_path do |f| %>

	<% if true %>
	<% (0..19).each do |grade_level| %>
	<%= check_box( "tag", "grade_levels", { :id => "tag_grade_levels", :name => "tag[grade_levels][]", :checked => check_box_value(grade_level) }  ) %>
	<%= f.label :grade_levels[grade_level], grade_level_title_by_index(grade_level) %><br />
	<% end %>
	<% end %>

	<br />

	<div><%= f.label :subjects, "Subject Tags" %><br />
	<%= f.text_field :subjects, :value => current_teacher.tag.subjects.join(' ') %></div>

	<div><%= f.label :standards, "Standard Tags" %> <br />
	<%= f.text_field :standards, :value => current_teacher.tag.standards.join(' ') %></div>

	<div><%= f.label :other, "Other Tags" %> <br />
	<%= f.text_field :other, :value => current_teacher.tag.other.join(' ') %></div>

	<div><%= f.submit "Update" %></div>

<% end %>
