<% if !@f[:array] %>

	<div class="thetitle">
		<% if @teacher_activity.nil? || (!current_teacher.nil? && current_teacher.id.to_s==@f[:owner].id.to_s) %>
			You favorited <a href="<%= named_binder_route(@f[:model]) %>"><%= @f[:model].title %></a> <%= time_ago_in_words(Time.at(@f[:log]['timestamp']).to_datetime) %> ago.
		<% else %>
			<a href="<%= "/#{@f[:owner].username}" %>"><%= "#{@f[:owner].fname} #{@f[:owner].lname}" %></a> favorited <a href="<%= named_binder_route(@f[:model]) %>"><%= @f[:model].title  %></a> <%= time_ago_in_words(Time.at(@f[:log]['timestamp']).to_datetime) %> ago.
		<% end %>
	</div>

<% else %>

	<div class="thetitle">
		<% if @teacher_activity.nil? || (!current_teacher.nil? && current_teacher.id.to_s==@f[:owner].id.to_s) %>
			You favorited <%= @f[:array].size %> resources <%= time_ago_in_words(Time.at(@f[:log]['timestamp']).to_datetime) %> ago.
		<% else %>
			<a href="<%= "/#{@f[:owner].username}" %>"><%= "#{@f[:owner].fname} #{@f[:owner].lname}" %></a> favorited <%= @f[:array].size %> resources <%= time_ago_in_words(Time.at(@f[:log]['timestamp']).to_datetime) %> ago.
		<% end %>
	</div>

<% end %>
