<a href="<%= named_binder_route(@binder) %>" class="conlink">
	<div class="thecontent">
		<% if @binder.type==1 %>

			<% imgarr = Binder.get_folder_array(@binder.id.to_s) %>

			<% if !imgarr[0].nil? %>

			<div style="float:left; margin-right: 10px;">
				<div style="height:122px;width:180px;display:block;overflow:hidden;position:relative;">
					<img src="<%= binder_thumb_lg(imgarr[0]) %>" />
				</div>

				<% if !imgarr[1].nil? %>

				<img style="height:48px;width:55px;overflow:hidden;margin-top:4px;border:1px solid #EEE;" src="<%= binder_thumb_sm(imgarr[1]) %>" />
				<img style="height:48px;width:55px;overflow:hidden;margin-top:4px;border:1px solid #EEE;" src="<%= binder_thumb_sm(imgarr[2]) %>" />
				<img style="height:48px;width:55px;overflow:hidden;margin-top:4px;border:1px solid #EEE;" src="<%= binder_thumb_sm(imgarr[3]) %>" />

				<% end %>

			</div>

			<% end %>

		<% else %>
			<% if Binder.thumbready?(@binder) %>
				<div class="previmg" style="background-image: url('<%= binder_thumb_lg(@binder) %>');background-repeat: no-repeat;background-position: center;"></div>
			<% end %>
		<% end %>
		<div class="txtcon">
			<div class="contitle"><%= @binder.title %></div>
			<div class="condesc">
        	<% if !@binder.body.empty? %>
        		<%= truncate(strip_tags(@binder.body), :length => 250, :omission => "... <u>see more</u>").html_safe %>
        	<% elsif !@binder.current_version.nil? &&!@binder.current_version.doctext.nil? && !@binder.current_version.doctext.empty? %>
        		<%= truncate(strip_tags(@binder.current_version.doctext), :length => 250, :omission => "... <u>see more</u>").html_safe %>
        	<% else %>
        		<%= "<span style='font-style:italic;color:#aaa'>No description</span>".html_safe %>
        	<% end %>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
</a>
