<% if !@f[:array] %>

	<% 
	# if !Rails.cache.read(@f[:log].id.to_s).nil?
	# 	expire_fragment(@f[:log].id.to_s) 
	# 	Rails.cache.delete(@f[:log].id.to_s)
	# end
	%>

	<% cache("#{@f[:log].id}", :expires_in => 15.minutes) do %>

	<a href="<%= named_binder_route(@f[:model]) %>" class="conlink">
		<div class="thecontent">
			<% if @f[:model].type==1 %>

				<% imgarr = Binder.get_folder_array(@f[:model].id.to_s) %>

				<% if !imgarr[0].nil? %>

				<div style="float:left; margin-right: 10px;">
					<div style="height:122px;width:180px;display:block;overflow:hidden;position:relative;">
						<img src="<%= binder_thumb_lg(imgarr[0]) %>" />
					</div>

					<% if !imgarr[1].nil? %>

					<img style="height:48px;width:55px;overflow:hidden;margin-top:4px;border:1px solid #EEE;" src="<%= binder_thumb_sm(imgarr[1]) %>" />
					<img style="height:48px;width:55px;overflow:hidden;margin-top:4px;border:1px solid #EEE;" src="<%= binder_thumb_sm(imgarr[2]) %>" />
					<img style="height:48px;width:55px;overflow:hidden;margin-top:4px;border:1px solid #EEE;" src="<%= binder_thumb_sm(imgarr[3]) %>" />

					<% end %>

				</div>

				<% end %>

			<% else %>
				<% if Binder.thumbready?(@f[:model]) %>
					<div class="previmg" style="background-image: url('<%= binder_thumb_lg(@f[:model]) %>');background-repeat: no-repeat;background-position: center;"></div>
				<% end %>
			<% end %>
			<div class="txtcon">
				<div class="contitle"><%= @f[:model].title %></div>
				<div class="condesc">
            	<% if !@f[:model].body.empty? %>
            		<%= truncate(strip_tags(@f[:model].body), :length => 250, :omission => "... <u>see more</u>").html_safe %>
            	<% elsif !@f[:model].current_version.nil? &&!@f[:model].current_version.doctext.nil? && !@f[:model].current_version.doctext.empty? %>
            		<%= truncate(strip_tags(@f[:model].current_version.doctext), :length => 250, :omission => "... <u>see more</u>").html_safe %>
            	<% else %>
            		<%= "<span style='font-style:italic;color:#aaa'>No description</span>".html_safe %>
            	<% end %>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</a>

	<% end %>

	<% #debugger 
	%>

	<% map_to_model(@f[:model].id.to_s,@f[:log].id.to_s) %>

<% else %>

	<% @f[:array].each do |g| %>

	<% 
	# if !Rails.cache.read(g[:log].id.to_s).nil? 
	# 	expire_fragment(g[:log].id.to_s) 
	# 	Rails.cache.delete(g[:log].id.to_s)
	# end
	%>

	<% cache("#{g[:log].id}", :expires_in => 15.minutes) do %>

	<a href="<%= named_binder_route(g[:model]) %>" class="conlink">
		<div class="thecontent">
			<% if g[:model].type==1 %>

				<% imgarr = Binder.get_folder_array(g[:model].id.to_s) %>

				<% if !imgarr[0].nil? %>

				<div style="float:left; margin-right: 10px;">
					<div style="height:122px;width:180px;display:block;overflow:hidden;position:relative;">
						<img src="<%= binder_thumb_lg(imgarr[0]) %>" />
					</div>

					<% if !imgarr[1].nil? %>

					<img style="height:48px;width:55px;overflow:hidden;margin-top:4px;border:1px solid #EEE;" src="<%= binder_thumb_sm(imgarr[1]) %>" />
					<img style="height:48px;width:55px;overflow:hidden;margin-top:4px;border:1px solid #EEE;" src="<%= binder_thumb_sm(imgarr[2]) %>" />
					<img style="height:48px;width:55px;overflow:hidden;margin-top:4px;border:1px solid #EEE;" src="<%= binder_thumb_sm(imgarr[3]) %>" />

					<% end %>

				</div>

				<% end %>

			<% else %>
				<% if Binder.thumbready?(g[:model]) %>
					<div class="previmg" style="background-image: url('<%= binder_thumb_lg(g[:model]) %>');background-repeat: no-repeat;background-position: center;"></div>
				<% end %>
			<% end %>
			<div class="txtcon">
				<div class="contitle"><%= g[:model].title %></div>
				<div class="condesc">
            	<% if !g[:model].body.empty? %>
            		<%= truncate(strip_tags(g[:model].body), :length => 250, :omission => "... <u>see more</u>").html_safe %>
            	<% elsif !g[:model].current_version.nil? &&!g[:model].current_version.doctext.nil? && !g[:model].current_version.doctext.empty? %>
            		<%= truncate(strip_tags(g[:model].current_version.doctext), :length => 250, :omission => "... <u>see more</u>").html_safe %>
            	<% else %>
            		<%= "<span style='font-style:italic;color:#aaa'>No description</span>".html_safe %>
            	<% end %>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</a>

	<% end %>

	<% map_to_model(g[:model].id.to_s,g[:log].id.to_s) %>

	<% end %>
<% end %>
