<% if !@f[:array] %>

	<% @subscribee = Teacher.where(:username => /^#{Regexp.escape(f[:log].params['username'].to_s)}$/i).first %>

	<div class="thetitle">
		<% if !current_teacher.nil? && current_teacher.id.to_s==@f[:owner].id.to_s %>
			You subscribed to <a href="<%= "/#{@subscribee.username}" %>"><%= "#{@subscribee.fname} #{@subscribee.lname}" %></a> <%= time_ago_in_words(Time.at(@f[:log]['timestamp']).to_datetime) %> ago.
		<% else %>
			<a href="<%= "/#{@f[:owner].username}" %>"><%= "#{@f[:owner].fname} #{@f[:owner].lname}" %></a> subscribed to <a href="<%= "/#{@subscribee.username}" %>"><%= "#{@subscribee.fname} #{@subscribee.lname}" %></a> <%= time_ago_in_words(Time.at(@f[:log]['timestamp']).to_datetime) %> ago.
		<% end %>
	</div>

<% else %>

	<div class="thetitle">
		<% if !current_teacher.nil? && current_teacher.id.to_s==@f[:owner].id.to_s %>
			You subscribed to <%= @f[:array].size %> educators <%= time_ago_in_words(Time.at(@f[:log]['timestamp']).to_datetime) %> ago.
		<% else %>
			<a href="<%= "/#{@f[:owner].username}" %>"><%= "#{@f[:owner].fname} #{@f[:owner].lname}" %></a> subscribed to <%= @f[:array].size %> educators <%= time_ago_in_words(Time.at(@f[:log]['timestamp']).to_datetime) %> ago.
		<% end %>
	</div>

<% end %>
