<h2>app/views/<%= params[:controller] %>/<%= params[:action] %></h2>
<h2><%= params[:controller] %>#<%= params[:action] %></h2>

<h1>Issue # <%= "#{params[:issue]}: #{@category.name}" %></h1>
<% if @category.binders.empty? %>
No binders have been added yet
<% else %>
<table>
<tr>
<td>id</td>
<td></td>
</tr>
<%= @categories.find_binders.each do |binder| %>
<tr>
<td><%= binder.id %></td>
</tr>
<% end %>
</table>
<% end %>
<br />
<br />
<%= form_for Category.new, url: admin_explore_issue_path do |f| %>
	<%= f.label :name, "Category" %>
	<%= f.text_field :name %>
	<%= f.submit "add" %>
<% end %>