		<div class="content-list">


	     <% if @children.empty? %>
				Empty
			<% else %>
				<% @children.each do |binder| %>

          <% imgarr = Binder.get_folder_array(binder.id.to_s) if binder.type == 1 %>

          <%
            # imgarr is an array of length 0 to 3 that contains the URLs of the images
            # the first image is the large thumbnail, the second and third are the small thumbnails
            #imgarr[0]
          %>

				<div id="<%= binder.id %>" class="content-item<%= ' droppable' if binder.type == 1 %>">


	                <% if binder.type != 1 
	                    # is a file/link 
	                 %> 

					<% if get_binder_image(binder) == "<no image>" %>

	                  	<div class="folder-preview">
		                  	<div class="dyncon">

		                  		<div class="gen-file">
		                  			<div class="filebox">
		                  				<div class="filext">
		                  					binder.current_version.ext
		                  				</div>
		                  			</div>
		                  		</div>

							</div>
							<div class="contype">
								<img src="/assets/binders/types/file.png" style="width:24px" />
							</div>
						</div>

					<% else %>

						<div class="folder-preview">
							<div class="single-hold" style="margin-top:-1px;background-image:url('<%= get_binder_image(binder) %>');">
							</div>
							<div class="contype">
								<img src="<%= get_contype_icon(binder) %>" style="width:24px" />
	                      	</div>
	                    </div>

                    <% end %>

                  <% else 
                    # is a folder
                  %>

                  	<% if binder.children.count == 0%>

						<div class="folder-preview">
							<div class="dyncon">

								<div class="empty-folder">
									<div class="nubfol"></div>
									<div class="mainfol"></div>
								</div>

							</div>
						</div>


              	  	<% else %>

    		            <div class="folder-preview">
    		              <!-- <div class="single-hold" src="<%= imgarr[0].to_s %>" > -->
                      <div class="single-hold" style="margin-top:-1px;background-image:url('<%= imgarr[0].to_s %>');">

                      	<% if !imgarr[1].nil? && !imgarr[1].empty? %>

	                        <div class="thumb-wrap">
	                          <img class="thumb1" src="<%= imgarr[1].to_s %>" />

	                          <% if !imgarr[2].nil? && !imgarr[2].empty? %>

		                          <br />

		                          <img class="thumb2" src="<%= imgarr[2].to_s %>" />
		                      <% end %>
	                        </div>

	                    <% end %>

    		              </div>

    		              <div class="contype">
	                      	<img src="/assets/binders/types/folder.png" style="width:24px" />
	                      </div>
    		            </div>

		            <% end %>

                  <% end %>

                  	<div class="innerd">
			            <div class="titler"><%= link_to binder.title[0..50], named_binder_route(binder), :class => "pjax linkster" %></div>

			            <div class="reflink">

			            	<% if binder.type == 1 %>

			            		<img src="/assets/binders/file.png" style="margin-top:-3px;margin-right:1px" /><%= binder.files %> &bull; <%= number_to_human_size(binder.total_size) %>

			            	<% elsif binder.format == 2  && !binder.current_version.embed %>

			            		<%= URI.parse(binder.current_version.data).host.sub(/www\./, "") %>

		            		<% else %>

								<%= binder.current_version.ext %> &bull; <%= number_to_human_size(binder.total_size) %>

			            	<% end %>

			            </div>

			            <div class="descarea"><%= binder.body.empty? ? "<span style='font-style:italic;color:#aaa'>No description</span>".html_safe : truncate(sanitize(binder.body, :tags => []), :length => 250, :omission => "... See more...") %></div>
			        </div>

			        <div class="lastupdate">Last updated by <%= link_to binder.user, "#" %> <span title="<%= Time.at(binder.last_update).to_datetime %>"><%= time_ago_in_words(Time.at(binder.last_update).to_datetime) %> ago</span></div>

			            <div class="drop-tog">
			            	<div class="btn-group">

					          <button id="droptog-btn" data-toggle="dropdown" class="btn dropdown-toggle">
					          <div class="tog-arrow"></div>
					          </button>

					          <ul class="dropdown-menu">
					            <li><a id="rename-act" class="modaction">Rename</a></li>
					            <li><a id="copy-act" class="modaction">Copy</a></li>
					            <li><a id="move-act" class="modaction">Move</a></li>
					            <li><a id="delete-act" class="modaction">Delete</a></li>
					          </ul>

					        </div>

			            </div>


			        </div>


					<%= #get_binder_image(binder,{ :height => 150, :border => 1 }) #{ :border => 1 })
					%>



					
				<% end %>
			<% end %>


		</div>