<% if @binder.current_version.croc? %>

	<!--
	<iframe id="crocFrame" style="width: 700px; height: 600px;" src="https://crocodoc.com/view/@binder.current_version.get_croc_session" ></iframe>
	-->

	<%= javascript_include_tag "http://static-v2.crocodoc.com/core/docviewer.js" %>
	<%= javascript_include_tag "https://crocodoc.com/webservice/document.js?session=#{@binder.current_version.get_croc_session}" %>
	<div id="docviewer"></div>
	<%= javascript_tag "var docviewer = new DocViewer({ \"id\": \"docviewer\" });" %>

<% elsif @binder.current_version.youtube? %>

	<iframe title="YouTube video player" width="640" height="390" src="http://www.youtube.com/embed/<%= CGI.parse(URI.parse(@binder.current_version.data).query)["v"].first %>?modestbranding=1" frameborder="0" allowfullscreen></iframe>

<% else %>

	<%= link_to(	image_tag(@binder.current_version.imgfile.contentview.url),
					@binder.format == 1 ? named_binder_route(@binder, "download") : @binder.current_version.data,
					:target => "_blank") %>

<% end %>

<% if !@binder.current_version.embed %>
	<% if @binder.format == 1 %>

		<%= link_to "Download #{@binder.title}", named_binder_route(@binder, "download"), :target => "_blank" %>	

	<% else %>

		<%= link_to @binder.title, @binder.current_version.data, :target => "_blank" %>

	<% end %>
<% end %>