<% if @binder.current_version.croc? %>

	<center><iframe id="crocFrame" width="700" height="600" class="embeddrop" frameborder="0" src="https://crocodoc.com/view/<%= @binder.current_version.get_croc_session %>" ></iframe></center>

<% elsif @binder.current_version.youtube? %>

	<center><iframe width="700" height="390" src="http://www.youtube.com/embed/<%= @binder.current_version.get_youtube_id %>?modestbranding=1&wmode=transparent" frameborder="0" class="embeddrop" allowfullscreen></iframe></center>

<% elsif @binder.current_version.educreations? %>

	<center><iframe width="700" height="390" src="http://www.educreations.com/lesson/embed/<%= @binder.current_version.get_educreations_id %>" class="embeddrop" frameborder="0" allowfullscreen></iframe></center>

<% elsif @binder.current_version.vimeo? %>

	<center><iframe src="http://player.vimeo.com/video/<%= @binder.current_version.get_vimeo_id %>" width="700" height="390" class="embeddrop" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></center>

<% elsif @binder.current_version.schooltube? %>

	<center><iframe width="700" height="390" src="http://www.schooltube.com/embed/<%= @binder.current_version.get_schooltube_id %>" frameborder="0" class="embeddrop" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe></center>

<% elsif @binder.current_version.showme? %>

	<center><iframe src="http://www.showme.com/sma/embed/?s=<%= @binder.current_version.get_showme_id %>&w=700&h=390" width="700" height="390" frameborder="0" class="embeddrop" ></iframe></center>

<% elsif @binder.current_version.img? %>

	<center><%= link_to(	image_tag(@binder.current_version.img_contentview.url, :class => "embeddrop"),
					@binder.format == 1 ? named_binder_route(@binder, "download") : @binder.current_version.data,
					:target => "_blank") %></center>

<% elsif @binder.current_version.embed %>

	<%= @binder.current_version.data.html_safe %>

<% elsif @binder.format == 2 %>

<a href="<%= @binder.format == 1 ? named_binder_route(@binder, "download") : @binder.current_version.data %>" target="_blank">
	<div class="embedlink">
		<div class="linkboxer">
			<button target="_blank" class="btn btn-primary" style="font-size:18px; padding:15px; font-weight:bolder;">Go to this website!</button>
		</div>

		<div class="whitelay"></div>

	<%= image_tag(@binder.current_version.img_contentview.url) %>
	</div>
</a>

<% end %>






<div class="actionswrap">
	<div class="content-actions">

		<button class="btn">
			<img src="/assets/binders/fav.png" />
			<div class="texter">Add to favorites</div>
		</button>

		<button class="btn">
			<img src="/assets/binders/snap.png" />
			<div class="texter">Snap to binder</div>
		</button>

	<% if !@binder.current_version.embed %>
		<% if @binder.format == 1 %>

			<% link_to "Download #{@binder.title}", named_binder_route(@binder, "download"), :target => "_blank" %>	

		<% else %>

			<% link_to @binder.title, @binder.current_version.data, :target => "_blank" %>

		<% end %>
	<% end %>
	</div>
</div>