<% content_for :headcon do
	javascript_include_tag "wy/advanced"
end %>
<% content_for :headcon do
	javascript_include_tag "wy/wysi5"
end %>
<% content_for :headcon do
	javascript_include_tag "binders/pretags"
end %>
<% content_for :headcon do
	javascript_include_tag "binders/folder"
end %>
<% content_for :headcon do
	javascript_include_tag "binders/taginit"
end %>
<% content_for :headcon do
  javascript_include_tag "binders/upload/iframe-transport"
end %>
<% content_for :headcon do
  javascript_include_tag "binders/upload/fileupload"
end %>

<div class="container">
  <div id="list-pane">
    <% if params[:action] == "show" %>

      <%= javascript_tag do %>
	       isEditable=<%= @binder.get_access(current_teacher.id.to_s) > 0 ? "true" : "false"  %>;
      <% end %>

      <%= render 'layouts/embed' if @binder.type == 2%>

      <%= render 'layouts/notepad' %>


		<% end %>


	
    

    <%= render 'layouts/contentlist' if params[:action] == "index" || @binder.type == 1 %>

    

	</div>


	<div id="left-sidebar">
        
        <div id="folder-tags" class="conbox">
          <div class="headstrip">
            <div class="inner">
            Tags 

              <button class="btn" id="addtags-btn">
              Add New
              </button>
            </div>
          </div>

          <div class="empty-tog fortags" style="<%= @tagset.any? ? raw("opacity: 0; display: none;") : raw("") %>">You haven't added any tags...yet!</div>

          <!-- <div class="content-fill" style="display:none"> -->
          <div class="content-fill" style="<%= @tagset.any? ? raw("display:block; opacity:1;") : raw("display:none") %>">

            <div class="tag-group tagged-grades" <%= tagvis(@tags[0],@tagset) %>>
              <div class="announce">
                Grade Levels
              </div>

              <div class="taggers">
                <ul class="tags"> 
                  <% if true %>
                    <% @tags[0].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>


            <div id="grade-addarea" class="add-area tagenter" <% #style="display: none; opacity: 0;" 
            %><%= boxvis(@tagset)  
            %>>
              <input type="text" class="add-field grade-addfield" placeholder="Ex: '1st', 'Second Grade'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-subjects" <%= tagvis(@tags[1],@tagset) %>>
              <div class="announce">
                Subjects
              </div>

              <div class="taggers">
                <ul class="tags">
                  <% if true %>
                    <% @tags[1].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>


            <div id="subject-addarea" class="add-area tagenter" <% #style="display: none; opacity: 0;" 
            %><%= boxvis(@tagset) 
            %>>
              <input type="text" class="add-field subject-addfield" placeholder="Ex: 'Math', 'History'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-standards" <%= tagvis(@tags[2],@tagset) %>>
              <div class="announce">
                Standards
              </div>

              <div class="taggers">
                <ul class="tags">
                  <% if true %>
                    <% @tags[2].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>

            <div id="standards-addarea" class="add-area tagenter" <% #style="display: none; opacity: 0;" 
            %><%= boxvis(@tagset)  
            %>>
              <input type="text" class="add-field standards-addfield" placeholder="Ex: 'RL.K.1'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-other" <%= tagvis(@tags[3],@tagset) %>>
              <div class="announce">
                Keywords
              </div>


              <div class="taggers">
                <ul class="tags">
                  <% if true %>
                    <% @tags[3].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>



            <div id="other-addarea" class="add-area tagenter" <% #style="display: none; opacity: 0;" 
            %><%= boxvis(@tagset)  
            %>>
              <input type="text" class="add-field other-addfield" placeholder="Ex: 'Civil War', 'edchat'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>

          </div>
        </div>


      </div>



</div>




<div id="form-helpers" style="display:none">

	<div id="upload-form" style="display:none">
		<div class="headtitle">
		  Upload File
		</div>

		<div class="bodcon">
		  <div class="conitem">
		    <div class="lablr">Choose a title</div>
		    <input type="file" />
		  </div>

		  <div class="buttonbar">
		     <button class="btn btn-primary">Upload File!</button>
		     <button class="btn" onClick="closefBox()">Cancel</button>
		  </div>

		</div>
	</div>



  <div id="addweb-form" style="display:none">
    <div class="headtitle">
      Add web bookmark / embed
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">
        <input name="weblink" class="weblink" style="width:300px" type="text" placeholder="http:// or <embed>" />
        <input name="webtitle" maxlength="55" class="webtitle" style="width:300px" type="text" placeholder="Title of the web page" />

        <a href="#" style="font-size:11px; margin-left:5px" onClick="$(this).parent().find('.webdesc').show().focus();$(this).hide();return false">Add a description</a>
        <textarea name="body" class="input-xlarge webdesc" rows="3" style="width:300px;display:none" placeholder="Description of the web page"></textarea>

      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Add this!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>






  <div id="addfolder-form" style="display:none">
    <div class="headtitle">
      Add new folder
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">
        <input name="foldertitle" maxlength="55" class="firstfocus webtitle" style="width:300px" type="text" placeholder="Title of the new folder" />

        <a href="#" style="font-size:11px; margin-left:5px" onClick="$(this).parent().find('.webdesc').show().focus();$(this).hide();return false">Add a description</a>
        <textarea name="body" class="input-xlarge webdesc" rows="3" style="width:300px;display:none" placeholder="Description of the folder"></textarea>

      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Add folder!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>





  <div id="addfile-form" style="display:none">
    <div class="headtitle">
      Upload file
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">

        <div class="file-upload-btn">
          <input name="file" class="filepick" type="file" />
          <a class="btn btn-primary btnsauce">Choose a file to upload!</a>
        </div>


      </div>

      <div class="buttonbar">
         <button class="btn canceler" type="reset" onClick="$('#facebox .filepick').fileupload('destroy'); closefBox()">Cancel</button>
      </div>

    </form>
  </div>



	<div id="rename-form" style="display:none">
		<div class="headtitle">
		  Rename
		</div>

		<div class="errorBox"></div>

		<form action="#" class="bodcon">
		  <div class="conitem">
		    <input name="newtitle" maxlength="55" class="firstfocus rename-title" style="width:260px" type="text" />
		    <input name="conid" class="conid" type="hidden" />

		  </div>

		  <div class="buttonbar">
		     <button class="btn btn-primary showloader" type="submit">Rename this!</button>
		     <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
		  </div>

		</form>
	</div>





	<div id="delete-form" style="display:none">
		<div class="headtitle">
		  Delete
		</div>

		<div class="errorBox"></div>

		<form action="#" class="bodcon">
		  <div class="conitem">
		    <div style="margin: 5px 0 5px 0">Are you <strong>absolutely positive</strong> you want to delete this?</div>
		    <input name="conid" class="conid" type="hidden" />

		  </div>

		  <div class="buttonbar">
		     <button class="btn btn-danger showloader" type="submit">Yes, delete this!</button>
		     <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
		  </div>

		</form>
	</div>




  <div id="copy-form" style="display:none">
    <div class="headtitle">
      Copy
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">

        <div class="fol-picker" style="margin-bottom:10px">

          <div class="togbar" onclick="togglePicker(this)">
            <span class="chosenTitle">
              <i>Choose a binder or folder to copy this to</i>
            </span>
            <div class="down-arrow"></div>
            <input type="hidden" name="folid" class="chosenOne" value="" />
          </div>

          <div class="pickerpane">


            <% Binder.where("parent.id" => "0", :owner => current_teacher.id).each do |binder| %>

            <div class="bndr">

              <div class="dir" folid="<%= binder.id.to_s %>" turl="<%= named_binder_route(binder) %>">
                <div class="arrow-right" onclick="togglePickFolder(this)"></div>
                <span class="dirtitle" onclick="selectPickFolder(this)">
                  <img src="/assets/binders/folder.png" class="foldicon" />
                  <%= binder.title %>
                </span>
                <div class="dirWrap"></div>

              </div>
            </div>

            <% end %>


          </div>
        </div>



      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Copy this!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>



  <div id="move-form" style="display:none">
    <div class="headtitle">
      Move
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">

        <div class="fol-picker" style="margin-bottom:10px">

          <div class="togbar" onclick="togglePicker(this)">
            <span class="chosenTitle">
              <i>Choose a binder or folder to move this to</i>
            </span>
            <div class="down-arrow"></div>
            <input type="hidden" name="target" class="chosenOne" value="" />
          </div>

          <div class="pickerpane">


            <% Binder.where("parent.id" => "0", :owner => current_teacher.id).each do |binder| %>

            <div class="bndr">

              <div class="dir" folid="<%= binder.id.to_s %>" turl="<%= named_binder_route(binder) %>">
                <div class="arrow-right" onclick="togglePickFolder(this)"></div>
                <span class="dirtitle" onclick="selectPickFolder(this)">
                  <img src="/assets/binders/folder.png" class="foldicon" />
                  <%= binder.title %>
                </span>
                <div class="dirWrap"></div>

              </div>
            </div>

            <% end %>


          </div>
        </div>



      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Move this!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>















</div>