<% content_for :headcon do
	javascript_include_tag "wy/advanced"
end %>
<% content_for :headcon do
	javascript_include_tag "wy/wysi5"
end %>
<% content_for :headcon do
	javascript_include_tag "binders/pretags"
end %>
<% content_for :headcon do
	javascript_include_tag "binders/folder"
end %>
<% content_for :headcon do
	javascript_include_tag "binders/taginit"
end %>

<script type="javascript">
	isEditable=<%= @binder.get_access(current_teacher.id.to_s) > 0 ? "true;" : "false;"  %>
</script>
<div class="container">
	<div id="list-pane">
		<% if params[:action] == "show" %>

			<div class="descbox content-editable">
				<%= image_tag("pin.png", :class => 'pinim') %>
          <div class="inner">

            <div class="real-text">
            	<% if !@binder.body.blank? %>
					<%= @binder.body %>
				<% end %>
            </div>



            <div class="wysi-edit">
              <div id="wysitoolbar" style="display: none;">
                <a data-wysihtml5-command="bold" title="CTRL+B"></a>
                <a data-wysihtml5-command="italic" title="CTRL+I"></a>
                <a data-wysihtml5-command="createLink"></a>
                <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1"></a>
                <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"></a>
                <a data-wysihtml5-command="insertUnorderedList"></a>
                <a data-wysihtml5-command="insertOrderedList"></a>
                <a data-wysihtml5-command="insertSpeech"></a>
                
                <div data-wysihtml5-dialog="createLink" style="display: none;">
                  <label>
                    Link:
                    <input data-wysihtml5-dialog-field="href" value="http://">
                  </label>
                  <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                </div>
                
                <div data-wysihtml5-dialog="insertImage" style="display: none;">
                  <label>
                    Image:
                    <input data-wysihtml5-dialog-field="src" value="http://">
                  </label>
                  <label>
                    Align:
                    <select data-wysihtml5-dialog-field="className">
                      <option value="">default</option>
                      <option value="wysiwyg-float-left">left</option>
                      <option value="wysiwyg-float-right">right</option>
                    </select>
                  </label>
                  <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                </div>
                
              </div>
              <textarea id="notearea" class="danotepad" placeholder="Type a note..."></textarea>
              <button class="btn btn-primary save-wysi">Save note</button>

              <div style="clear:both"></div>
            </div>



          </div>
        </div>

		<% end %>


	


		<div class="content-list">


	         <% if @children.empty? %>
				Empty
			<% else %>
				<% @children.each do |binder| %>



					<div id="<%= binder.id %>" class="content-item<%= ' droppable' if binder.type == 1 %>">

			            <div class="folder-preview">
			              <div class="single-hold" style="background-image:url('<%= get_binder_image(binder) %>');">
			               
			              </div>
			            </div>



			            <div class="titler"><%= link_to binder.title, named_binder_route(binder) %></div>

			            <div class="descarea">Last updated by <a href="#">Eric Simons</a> at 2:33pm</div>

			            <div class="drop-tog">
			            	<div class="btn-group">

					          <button id="droptog-btn" data-toggle="dropdown" class="btn dropdown-toggle">
					          <div class="tog-arrow"></div>
					          </button>

					          <ul class="dropdown-menu">
					            <li><a href="#">Rename</a></li>
					            <li><a href="#">Copy</a></li>
					            <li><a href="#">Move</a></li>
					            <li><a href="#">Delete</a></li>
					          </ul>

					        </div>

			            </div>


			        </div>


					<%= #get_binder_image(binder,{ :height => 150, :border => 1 }) #{ :border => 1 })
					%>



					
				<% end %>
			<% end %>


		</div>

	</div>







	<div id="left-sidebar">
        
        <div id="folder-tags" class="conbox">
          <div class="headstrip">
            <div class="inner">
            Tags 

              <button class="btn" id="addtags-btn">
              Add New
              </button>
            </div>
          </div>

          <div class="empty-tog fortags">You haven't added any tags...yet!</div>

          <div class="content-fill" style="display:none">

            <div class="tag-group tagged-grades">
              <div class="announce">
                Grade Levels
              </div>

              <div class="taggers">
                <ul class="tags">
                  
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>


            <div id="grade-addarea" class="add-area tagenter">
              <input type="text" class="add-field grade-addfield" placeholder="Ex: '1st', 'Second Grade'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-subjects">
              <div class="announce">
                Subjects
              </div>

              <div class="taggers">
                <ul class="tags">
                  
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>


            <div id="subject-addarea" class="add-area tagenter">
              <input type="text" class="add-field subject-addfield" placeholder="Ex: 'Math', 'History'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-standards">
              <div class="announce">
                Standards
              </div>

              <div class="taggers">
                <ul class="tags">
                  
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>

            <div id="standards-addarea" class="add-area tagenter">
              <input type="text" class="add-field standards-addfield" placeholder="Ex: 'RL.K.1'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-other">
              <div class="announce">
                Other
              </div>


              <div class="taggers">
                <ul class="tags">
                  
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>



            <div id="other-addarea" class="add-area tagenter">
              <input type="text" class="add-field other-addfield" placeholder="Ex: 'California', 'edchat'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>

          </div>
        </div>


      </div>



</div>