<% content_for :headcon do %>
	<%= javascript_include_tag "wy/advanced" %>
	<%= javascript_include_tag "wy/wysi5" %>
	<%= javascript_include_tag "binders/pretags" %>
	<%= javascript_include_tag "binders/folder" %>
	<%= javascript_include_tag "binders/taginit" %>
  <%= javascript_include_tag "binders/upload/iframe-transport" %>
  <%= javascript_include_tag "binders/upload/fileupload" %>
  <%= javascript_include_tag "binders/icheck" %>
  <%= stylesheet_link_tag    "widgets/icheck", :media => "all" %>
<% end %>

<div class="container">
  <div id="list-pane">
    <% if params[:action] == "show" %>

      <%= javascript_tag "isEditable = #{@binder.get_access(current_teacher.id.to_s) > 0 ? "true" : "false"};" %>

      <%= render 'layouts/embed' if @binder.type == 2%>

      <%= render 'layouts/notepad' %>


		<% end %>




    <%= render 'layouts/contentlist' if params[:action] == "index" || @binder.type == 1 %>

    

	</div>


	<div id="left-sidebar">

    <% if params[:action] == "show" %>

        <div class="conbox">
          <div class="headstrip" style="margin-bottom:10px">

            <div style="float:right; margin:5px 5px 0 0"><input type="checkbox" class="pub_on" <%= 'checked="checked"' if @binder.is_pub? %>/></div>
            <div class="inner">
            Public 
            </div>

          </div>



          <div class="noShare" <%= "style=display:none" if @binder.is_pub? %>>
            All folders & files that you share publicly are <strong>free storage</strong> - and you can share them on social networks!
          </div>


          <div class="sharelinks" <%= "style=display:none" if !@binder.is_pub? %>>

            <div>

              <div class="input-prepend" style="margin-left:10px">
                  <span class="add-on" style="margin-right:-14px">
                    <img src="http://cdn1.iconfinder.com/data/icons/officeicons/PNG/48/Internet_link_02.png" style="height:14px; margin-top:-4px" />
                  </span>

                  <input type="text" onclick="$(this).select();" style="width:138px; margin-left:10px;background:#fff" value="http://claco.com/emsimons/portfolio/math/id" readonly />
              </div>

            </div>


            <div style="margin: 10px 2px 5px 0;">

              <div style="margin: 0 8px 0 15px; height:20px; float:left">
                <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.classconnect.com&media=http%3A%2F%2Fwww.classconnect.com" class="pin-it-button" count-layout="none" target="_blank"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
              </div>

              <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/tweet_button.html?count=none&text=I'm a pioneer! %23UnitedWeTeach&url=http://www.classconnect.com" style="width:55px; height:20px; margin-top:1px; float:left"></iframe>

              <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.claco.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90&amp;appId=213954741999891" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:25px; margin:-1px 0 0 8px; float:left" allowTransparency="true"></iframe>

            </div>

            <div style="clear:both; height:7px"></div>

          </div>

        </div>

    <% end %>





        
        <div id="folder-tags" class="conbox">
          <div class="headstrip">
            <div class="inner">
            Tags 

              <button class="btn" id="addtags-btn">
              Add New
              </button>
            </div>
          </div>

          <div class="empty-tog fortags" style="<%= @tagset.any? ? raw("opacity: 0; display: none;") : raw("") %>">You haven't added any tags...yet!</div>

          <!-- <div class="content-fill" style="display:none"> -->
          <div class="content-fill" style="<%= @tagset.any? ? raw("display:block; opacity:1;") : raw("display:none") %>">

            <div class="tag-group tagged-grades" <%= tagvis(@tags[0],@tagset) %>>
              <div class="announce">
                Grade Levels
              </div>

              <div class="taggers">
                <ul class="tags"> 
                  <% if true %>
                    <% @tags[0].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>


            <div id="grade-addarea" class="add-area tagenter" <% #style="display: none; opacity: 0;" 
            %><%= boxvis(@tagset)  
            %>>
              <input type="text" class="add-field grade-addfield" placeholder="Ex: '1st', 'Second Grade'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-subjects" <%= tagvis(@tags[1],@tagset) %>>
              <div class="announce">
                Subjects
              </div>

              <div class="taggers">
                <ul class="tags">
                  <% if true %>
                    <% @tags[1].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>


            <div id="subject-addarea" class="add-area tagenter" <% #style="display: none; opacity: 0;" 
            %><%= boxvis(@tagset) 
            %>>
              <input type="text" class="add-field subject-addfield" placeholder="Ex: 'Math', 'History'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-standards" <%= tagvis(@tags[2],@tagset) %>>
              <div class="announce">
                Standards
              </div>

              <div class="taggers">
                <ul class="tags">
                  <% if true %>
                    <% @tags[2].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>

            <div id="standards-addarea" class="add-area tagenter" <% #style="display: none; opacity: 0;" 
            %><%= boxvis(@tagset)  
            %>>
              <input type="text" class="add-field standards-addfield" placeholder="Ex: 'RL.K.1'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-other" <%= tagvis(@tags[3],@tagset) %>>
              <div class="announce">
                Keywords
              </div>


              <div class="taggers">
                <ul class="tags">
                  <% if true %>
                    <% @tags[3].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>



            <div id="other-addarea" class="add-area tagenter" <% #style="display: none; opacity: 0;" 
            %><%= boxvis(@tagset)  
            %>>
              <input type="text" class="add-field other-addfield" placeholder="Ex: 'Civil War', 'edchat'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>

          </div>
        </div>





      </div>



</div>




<div id="form-helpers" style="display:none">

	<div id="upload-form" style="display:none">
		<div class="headtitle">
		  Upload File
		</div>

		<div class="bodcon">
		  <div class="conitem">
		    <div class="lablr">Choose a title</div>
		    <input type="file" />
		  </div>

		  <div class="buttonbar">
		     <button class="btn btn-primary">Upload File!</button>
		     <button class="btn" onClick="closefBox()">Cancel</button>
		  </div>

		</div>
	</div>



  <div id="addweb-form" style="display:none">
    <div class="headtitle">
      Add web bookmark / embed
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">
        <input name="weblink" class="weblink" style="width:300px" type="text" placeholder="http:// or <embed>" />
        <input name="webtitle" maxlength="50" class="webtitle" style="width:300px" type="text" placeholder="Title of the web page" />

        <a href="#" style="font-size:11px; margin-left:5px" onClick="$(this).parent().find('.webdesc').show().focus();$(this).hide();return false">Add a description</a>
        <textarea name="body" class="input-xlarge webdesc" rows="3" style="width:300px;display:none" placeholder="Description of the web page"></textarea>

      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Add this!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>






  <div id="addfolder-form" style="display:none">
    <div class="headtitle">
      Add new folder
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">
        <input name="foldertitle" maxlength="50" class="firstfocus webtitle" style="width:300px" type="text" placeholder="Title of the new folder" />

        <a href="#" style="font-size:11px; margin-left:5px" onClick="$(this).parent().find('.webdesc').show().focus();$(this).hide();return false">Add a description</a>
        <textarea name="body" class="input-xlarge webdesc" rows="3" style="width:300px;display:none" placeholder="Description of the folder"></textarea>

      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Add folder!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>





  <div id="addfile-form" style="display:none">
    <div class="headtitle">
      Upload file
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">

        <div class="file-upload-btn">
          <input name="file" class="filepick" type="file" />
          <a class="btn btn-primary btnsauce">Choose a file to upload!</a>
        </div>


      </div>

      <div class="buttonbar">
         <button class="btn canceler" type="reset" onClick="$('#facebox .filepick').fileupload('destroy'); closefBox()">Cancel</button>
      </div>

    </form>
  </div>



	<div id="rename-form" style="display:none">
		<div class="headtitle">
		  Rename
		</div>

		<div class="errorBox"></div>

		<form action="#" class="bodcon">
		  <div class="conitem">
		    <input name="newtitle" maxlength="50" class="firstfocus rename-title" style="width:260px" type="text" />
		    <input name="conid" class="conid" type="hidden" />

		  </div>

		  <div class="buttonbar">
		     <button class="btn btn-primary showloader" type="submit">Rename this!</button>
		     <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
		  </div>

		</form>
	</div>





	<div id="delete-form" style="display:none">
		<div class="headtitle">
		  Delete
		</div>

		<div class="errorBox"></div>

		<form action="#" class="bodcon">
		  <div class="conitem">
		    <div style="margin: 5px 0 5px 0">Are you <strong>absolutely positive</strong> you want to delete this?</div>
		    <input name="conid" class="conid" type="hidden" />

		  </div>

		  <div class="buttonbar">
		     <button class="btn btn-danger showloader" type="submit">Yes, delete this!</button>
		     <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
		  </div>

		</form>
	</div>




  <div id="copy-form" style="display:none">
    <div class="headtitle">
      Copy
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">

        <div class="fol-picker" style="margin-bottom:10px">

          <div class="togbar" onclick="togglePicker(this)">
            <span class="chosenTitle">
              <i>Choose a binder or folder to copy this to</i>
            </span>
            <div class="down-arrow"></div>
            <input type="hidden" name="folid" class="chosenOne" value="" />
          </div>

          <div class="pickerpane">


            <% @root.each do |binder| %>


              <% if binder.parent["id"] == "0" %>

                <div class="bndr">

                  <div class="dir" folid="<%= binder.id.to_s %>" turl="<%= named_binder_route(binder) %>">
                    <div class="arrow-right" onclick="togglePickFolder(this)"></div>
                    <span class="dirtitle" onclick="selectPickFolder(this)">
                      <img src="/assets/binders/folder.png" class="foldicon" />
                      <%= binder.title %>
                    </span>
                    <div class="dirWrap"></div>

                  </div>
                </div>

              <% end %>

            <% end %>


          </div>
        </div>



      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Copy this!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>



  <div id="move-form" style="display:none">
    <div class="headtitle">
      Move
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">

        <div class="fol-picker" style="margin-bottom:10px">

          <div class="togbar" onclick="togglePicker(this)">
            <span class="chosenTitle">
              <i>Choose a binder or folder to move this to</i>
            </span>
            <div class="down-arrow"></div>
            <input type="hidden" name="target" class="chosenOne" value="" />
          </div>

          <div class="pickerpane">


            <% @root.each do |binder| %>

            <div class="bndr">

              <div class="dir" folid="<%= binder.id.to_s %>" turl="<%= named_binder_route(binder) %>">
                <div class="arrow-right" onclick="togglePickFolder(this)"></div>
                <span class="dirtitle" onclick="selectPickFolder(this)">
                  <img src="/assets/binders/folder.png" class="foldicon" />
                  <%= binder.title %>
                </span>
                <div class="dirWrap"></div>

              </div>
            </div>

            <% end %>


          </div>
        </div>



      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Move this!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>















</div>