<% content_for :headcon do
	javascript_include_tag "wy/advanced"
end %>
<% content_for :headcon do
	javascript_include_tag "wy/wysi5"
end %>
<% content_for :headcon do
	javascript_include_tag "binders/pretags"
end %>
<% content_for :headcon do
	javascript_include_tag "binders/folder"
end %>
<% content_for :headcon do
	javascript_include_tag "binders/taginit"
end %>

<div class="container">
  <div id="list-pane">
    <% if params[:action] == "show" %>

<%= javascript_tag do %>
	isEditable=<%= @binder.get_access(current_teacher.id.to_s) > 0 ? "true" : "false"  %>;
<% end %>

			<div class="descbox content-editable">
				<%= image_tag("pin.png", :class => 'pinim') %>
          <div class="inner">

            <div class="real-text">
            	<% if !@binder.body.blank? %>
					<%= @binder.body.html_safe %>
				<% end %>
            </div>



            <div class="wysi-edit">
              <div id="wysitoolbar" style="display: none;">
                <a data-wysihtml5-command="bold" title="CTRL+B"></a>
                <a data-wysihtml5-command="italic" title="CTRL+I"></a>
                <a data-wysihtml5-command="createLink"></a>
                <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1"></a>
                <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"></a>
                <a data-wysihtml5-command="insertUnorderedList"></a>
                <a data-wysihtml5-command="insertOrderedList"></a>
                <a data-wysihtml5-command="insertSpeech"></a>
                
                <div data-wysihtml5-dialog="createLink" style="display: none;">
                  <label>
                    Link:
                    <input data-wysihtml5-dialog-field="href" value="http://">
                  </label>
                  <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                </div>
                
                <div data-wysihtml5-dialog="insertImage" style="display: none;">
                  <label>
                    Image:
                    <input data-wysihtml5-dialog-field="src" value="http://">
                  </label>
                  <label>
                    Align:
                    <select data-wysihtml5-dialog-field="className">
                      <option value="">default</option>
                      <option value="wysiwyg-float-left">left</option>
                      <option value="wysiwyg-float-right">right</option>
                    </select>
                  </label>
                  <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
                </div>
                
              </div>
              <textarea id="notearea" class="danotepad" placeholder="Type a note..."></textarea>
              <button class="btn btn-primary save-wysi">Save note</button>

              <div style="clear:both"></div>
            </div>



          </div>
        </div>

		<% end %>


	


		<div class="content-list">


	         <% if @children.empty? %>
				Empty
			<% else %>
				<% @children.each do |binder| %>



					<div id="<%= binder.id %>" class="content-item<%= ' droppable' if binder.type == 1 %>">

			            <div class="folder-preview">
			              <div class="single-hold" style="background-image:url('<%= get_binder_image(binder) %>');">
			               
			              </div>
			            </div>



			            <div class="titler"><%= link_to binder.title, named_binder_route(binder), :class => binder.type == 1 ? "pjax" : "" %></div>

			            <div class="descarea">Last updated by <a href="#">Eric Simons</a> at 2:33pm</div>

			            <div class="drop-tog">
			            	<div class="btn-group">

					          <button id="droptog-btn" data-toggle="dropdown" class="btn dropdown-toggle">
					          <div class="tog-arrow"></div>
					          </button>

					          <ul class="dropdown-menu">
					            <li><a id="rename-act" class="modaction">Rename</a></li>
					            <li><a id="copy-act" class="modaction">Copy</a></li>
					            <li><a id="move-act" class="modaction">Move</a></li>
					            <li><a id="delete-act" class="modaction">Delete</a></li>
					          </ul>

					        </div>

			            </div>


			        </div>


					<%= #get_binder_image(binder,{ :height => 150, :border => 1 }) #{ :border => 1 })
					%>



					
				<% end %>
			<% end %>


		</div>

	</div>


	<div id="left-sidebar">
        
        <div id="folder-tags" class="conbox">
          <div class="headstrip">
            <div class="inner">
            Tags 

              <button class="btn" id="addtags-btn">
              Add New
              </button>
            </div>
          </div>

          <div class="empty-tog fortags" style="<%= @tagset.any? ? raw("opacity: 0; display: none;") : raw("") %>">You haven't added any tags...yet!</div>

          <!-- <div class="content-fill" style="display:none"> -->
          <div class="content-fill" style="display:block; opacity:1;">

            <div class="tag-group tagged-grades" <%= tagvis(@tags[0]) %>>
              <div class="announce">
                Grade Levels
              </div>

              <div class="taggers">
                <ul class="tags"> 
                  <% if true %>
                    <% @tags[0].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>


            <div id="grade-addarea" class="add-area tagenter" style="display: none; opacity: 0;" 
            <%= tagvis(@tags[0]) 
            %>>
              <input type="text" class="add-field grade-addfield" placeholder="Ex: '1st', 'Second Grade'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-subjects" <%= tagvis(@tags[1]) %>>
              <div class="announce">
                Subjects
              </div>

              <div class="taggers">
                <ul class="tags">
                  <% if true %>
                    <% @tags[1].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>


            <div id="subject-addarea" class="add-area tagenter" style="display: none; opacity: 0;" 
            <%= tagvis(@tags[1]) 
            %>>
              <input type="text" class="add-field subject-addfield" placeholder="Ex: 'Math', 'History'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-standards" <%= tagvis(@tags[2]) %>>
              <div class="announce">
                Standards
              </div>

              <div class="taggers">
                <ul class="tags">
                  <% if true %>
                    <% @tags[2].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>

            <div id="standards-addarea" class="add-area tagenter" style="display: none; opacity: 0;" 
            <%= #tagvis(@tags[2]) 
            %>>
              <input type="text" class="add-field standards-addfield" placeholder="Ex: 'RL.K.1'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>


            <div class="tag-group tagged-other" <%= tagvis(@tags[3]) %>>
              <div class="announce">
                Keywords
              </div>


              <div class="taggers">
                <ul class="tags">
                  <% if true %>
                    <% @tags[3].each do |f| %>
                      <li>
                        <a href="#"><%= f["title"] %></a>
                        <div class="delcir" onclick="delTag(this)">x</div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div style="clear:both"></div>
              </div>
            </div>



            <div id="other-addarea" class="add-area tagenter" style="display: none; opacity: 0;" 
            <%= #tagvis(@tags[3]) 
            %>>
              <input type="text" class="add-field other-addfield" placeholder="Ex: 'Civil War', 'edchat'" />
              <div class="empty-auto-hold">Hit enter to add tag...</div>
            </div>

          </div>
        </div>


      </div>



</div>




<div id="form-helpers" style="display:none">

	<div id="upload-form" style="display:none">
		<div class="headtitle">
		  Upload File
		</div>

		<div class="bodcon">
		  <div class="conitem">
		    <div class="lablr">Choose a title</div>
		    <input type="file" />
		  </div>

		  <div class="buttonbar">
		     <button class="btn btn-primary">Upload File!</button>
		     <button class="btn" onClick="closefBox()">Cancel</button>
		  </div>

		</div>
	</div>



  <div id="addweb-form" style="display:none">
    <div class="headtitle">
      Add web bookmark / embed
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">
        <input name="weblink" class="weblink" style="width:300px" type="text" placeholder="http:// or <embed>" />
        <input name="webtitle" class="webtitle" style="width:300px" type="text" placeholder="Title of the web page" />

        <a href="#" style="font-size:11px; margin-left:5px" onClick="$(this).parent().find('.webdesc').show().focus();$(this).hide();return false">Add a description</a>
        <textarea class="input-xlarge webdesc" rows="3" style="width:300px;display:none" placeholder="Description of the web page"></textarea>

        <input name="conid" class="conid" type="hidden" />

      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Add this!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>



	<div id="rename-form" style="display:none">
		<div class="headtitle">
		  Rename
		</div>

		<div class="errorBox"></div>

		<form action="#" class="bodcon">
		  <div class="conitem">
		    <input name="newtitle" class="firstfocus rename-title" style="width:260px" type="text" />
		    <input name="conid" class="conid" type="hidden" />

		  </div>

		  <div class="buttonbar">
		     <button class="btn btn-primary showloader" type="submit">Rename this!</button>
		     <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
		  </div>

		</form>
	</div>





	<div id="delete-form" style="display:none">
		<div class="headtitle">
		  Delete
		</div>

		<div class="errorBox"></div>

		<form action="#" class="bodcon">
		  <div class="conitem">
		    <div style="margin: 5px 0 5px 0">Are you <strong>absolutely positive</strong> you want to delete this?</div>
		    <input name="conid" class="conid" type="hidden" />

		  </div>

		  <div class="buttonbar">
		     <button class="btn btn-danger showloader" type="submit">Yes, delete this!</button>
		     <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
		  </div>

		</form>
	</div>




  <div id="copy-form" style="display:none">
    <div class="headtitle">
      Copy
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">

        <div class="fol-picker" style="margin-bottom:10px">

          <div class="togbar" onclick="togglePicker(this)">
            <span class="chosenTitle">
              <i>Choose a binder or folder to copy this to</i>
            </span>
            <div class="down-arrow"></div>
            <input type="hidden" name="folid" class="chosenOne" value="" />
          </div>

          <div class="pickerpane">


            <% Binder.where("parent.id" => "0", :owner => current_teacher.id).each do |binder| %>

            <div class="bndr">

              <div class="dir" folid="<%= binder.id.to_s %>" turl="<%= named_binder_route(binder) %>">
                <div class="arrow-right" onclick="togglePickFolder(this)"></div>
                <span class="dirtitle" onclick="selectPickFolder(this)">
                  <img src="/assets/binders/folder.png" class="foldicon" />
                  <%= binder.title %>
                </span>
                <div class="dirWrap"></div>

              </div>
            </div>

            <% end %>


          </div>
        </div>



      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Copy this!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>



  <div id="move-form" style="display:none">
    <div class="headtitle">
      Move
    </div>

    <div class="errorBox"></div>

    <form action="#" class="bodcon">
      <div class="conitem">

        <div class="fol-picker" style="margin-bottom:10px">

          <div class="togbar" onclick="togglePicker(this)">
            <span class="chosenTitle">
              <i>Choose a binder or folder to move this to</i>
            </span>
            <div class="down-arrow"></div>
            <input type="hidden" name="target" class="chosenOne" value="" />
          </div>

          <div class="pickerpane">


            <% Binder.where("parent.id" => "0", :owner => current_teacher.id).each do |binder| %>

            <div class="bndr">

              <div class="dir" folid="<%= binder.id.to_s %>" turl="<%= named_binder_route(binder) %>">
                <div class="arrow-right" onclick="togglePickFolder(this)"></div>
                <span class="dirtitle" onclick="selectPickFolder(this)">
                  <img src="/assets/binders/folder.png" class="foldicon" />
                  <%= binder.title %>
                </span>
                <div class="dirWrap"></div>

              </div>
            </div>

            <% end %>


          </div>
        </div>



      </div>

      <div class="buttonbar">
         <button class="btn btn-primary showloader" type="submit">Move this!</button>
         <button class="btn" type="reset" onClick="closefBox()">Cancel</button>
      </div>

    </form>
  </div>















</div>