<% if params[:action] == "show" %>

	<div><% if !@binder.body.blank? %>
		Body: <%= @binder.body %>
		<br /><br />
	<% end %></div>

<% end %>

<div>Contents:
	<br />
	<% if @children.empty? %>
		Empty
	<% else %>
		<% @children.each do |binder| %>
			[<%= binder.order_index %>]
			<%= link_to binder.title, named_binder_route(binder) %>
			<% if !binder.versions.last.nil? %>
				<%= link_to "(Croc)", named_binder_route(binder)+'/croc' if !binder.versions.last.croc_uuid.nil? %>
			<% end %>
				<%= link_to "(Update)", named_binder_route(binder, "update") if binder.type == 2 %>
				<%= link_to "(Versions)", named_binder_route(binder, "versions") if binder.type == 2 %>
				<%= link_to "(Edit)", named_binder_route(binder, "edit") %>
				<%= link_to "(Move)", named_binder_route(binder, "move") %>
				<%= link_to "(Copy)", named_binder_route(binder, "copy") %>
				<%= link_to "(Permissions)", named_binder_route(binder, "permissions") %>
				<%= link_to "(Delete)", named_binder_route(binder), :method => :delete %>
				<%= "(#{binder.body[0..20]}" + (binder.body.length > 20 ? "...)" : ")") if !binder.body.blank? %>
				<%= "(#{binder.files} files, #{binder.folders} folders)" if binder.type == 1 %>
			<% if !binder.versions.last.nil? %>
				(<%= binder.type == 1 ? binder.total_size : binder.versions.last.size %>b)
			<% end %>
			<br />
		<% end %>
	<% end %>
</div>