<!DOCTYPE html>
<html>
	<head>
		<title>Claco | <%= @title %></title>
		<%= stylesheet_link_tag    "strap", :media => "all" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= stylesheet_link_tag    "box", :media => "all" %>
		<%= stylesheet_link_tag    "buttons/buttons", :media => "all" %>
		<%= stylesheet_link_tag    "jqueryui", :media => "all" %>


		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "jqueryui" %>
		<%= javascript_include_tag "dropdown" %>
		<%= javascript_include_tag "facebox" %>
		<%= javascript_include_tag "tooltip" %>
		<%= javascript_include_tag "tabs" %>
		<%= javascript_tag "$('a.pjax').pjax('[data-pjax-container]');$.pjax.defaults.timeout = 5000;$.pjax.defaults.maxCacheLength=0;" %>
		<%= yield :headcon %>

		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<%= render 'layouts/navigation' %>
		</header>

		<div data-pjax-container>
			<%= yield %>
		</div>


		<div class="container">
			<div style="clear:both"></div>

			<hr>

			<footer>
			<p>&copy; Claco 2012</p>
			</footer>
		</div>


	</body>
</html>
