<!DOCTYPE html>
<html>
	<head>
		<title>Claco | <%= @title %></title>
		<%= stylesheet_link_tag    "strap", :media => "all" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= stylesheet_link_tag    "box", :media => "all" %>
		<%= stylesheet_link_tag    "buttons/buttons", :media => "all" %>
		<%= stylesheet_link_tag    "jqueryui", :media => "all" %>


		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "jqueryui" %>
		<%= javascript_include_tag "dropdown" %>
		<%= javascript_include_tag "facebox" %>
		<%= javascript_include_tag "tooltip" %>
		<script type="text/javascript">
			$('a').pjax('[data-pjax-container]')
		</script>
		<%= yield :headcon %>

		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<%= render 'layouts/navigation' %>
		</header>
		<!-- <% if current_teacher %>
		<%= current_teacher.inspect %>
		<% end %> -->
		<%= %> <!-- render 'shared/error_messages' -->
		<div data-pjax-container>
			<%= yield %>
		</div>


		<div class="container">
			<div style="clear:both"></div>

			<hr>

			<footer>
			<p>&copy; ClassConnect 2012 <%= Random.rand(1001) %></p>
			</footer>
		</div>


	</body>
</html>
